.beta {
  font-family: 'Rokkitt', serif;
  font-size: 1em;
  .story-body {
    text-align: justify;
  }
}

.multicol {
  font-family: $font-secondary;
  max-width: 35em;
  margin: 0 auto;
  column-count: 2;
  li {
    break-inside: avoid;
    margin: 0;
    p {
      margin: 0;
    }
  }
}
