.choose-wisely {
  footer {
    margin-top: 10em;
  }
  .story-header h1 {
    font-size: 1em;
    text-align: left;
  }
  .story-body h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1em;
  }
  .story-body p:first-of-type {
    text-indent: 0;
  }
}

.dislocated {
  display: block;
  margin-top: -1.8em;
  margin-left: 10em;
}
