.questions {
  //display: grid;
  font-size: .9em;
}

.right {
  float: right;
  text-align: right;
}

.center {
  max-width: 22em;
  margin: 1em auto;
}

.drop {
  margin-top: 6em;
}

.text-center {
  text-align: center;
}

.quarter {
  margin: 2em 7em 0em;
}
