.thunderstorm {

  //————————————————————————————
  //————————————————————————————

  //  typography

  //————————————————————————————
  //————————————————————————————

  font-family: 'bagatela';
  font-size: .8em;
  @media all and (min-width: 375px) {
    font-size: 1em;
  }
  @media all and (min-width: 500px) {
    font-size: 1.4em;
  }
  @media all and (min-width: 600px) {
    font-size: 1.6em;
  }
  h1 {
    font-family: 'herencia';
    font-size: 3em;
    line-height: 1em;
    text-align: center;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
  }
  .home {
    height: 10px;
    width: 100%;
    background-color: $color__fireside-red;
  }

  //————————————————————————————
  //————————————————————————————

  //  animations

  //————————————————————————————
  //————————————————————————————
  animation: colorchange 30s infinite;    // for .thunderstorm
  -webkit-animation: colorchange 30s infinite;
  background-color: #F9F4F2;
  h1, p {
    animation: opacity-delayed 8s 1;
    -webkit-animation: opacity-delayed 8s 1;
  }
  figure {
    animation: opacity-delayed 10s 1;
    -webkit-animation: opacity-delayed 10s 1;
  }
  .home {
    animation: opacity 2s 1;
    -webkit-animation: opacity 2s 1;
  }
  @keyframes colorchange
  {
    0%   {color: #1F325A;}
    25%  {color: #5C4D65;}
    50%  {color: #480420;}
    75%  {color: #334E44;}
    100% {color: #1F325A;}
  }
  @-webkit-keyframes colorchange
  {
    0%   {color: #1F325A;}
    25%  {color: #5C4D65;}
    50%  {color: #480420;}
    75%  {color: #334E44;}
    100% {color: #1F325A;}
  }
  @keyframes opacity
  {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes opacity
  {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes opacity-delayed
  {
    0%   {opacity: 0;}
    10%  {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes opacity-delayed
  {
    0%   {opacity: 0;}
    10%  {opacity: 0;}
    100% {opacity: 1;}
  }

//————————————————————————————
//————————————————————————————

//  arabic rollovers

//————————————————————————————
//————————————————————————————

  .arabic-text {
    padding: 1.2em .5em;
    font-weight: 500;
  }
  .raaed {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/raaed-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/raaed.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .aasfi {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/aasfi-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/aasfi.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .ghaymi {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/ghaymi-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/ghaymi.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .aaskar {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/aaskar-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/aaskar.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .hammam {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/hammam-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/hammam.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }


//————————————————————————————
//————————————————————————————

//  base layout

//————————————————————————————
//————————————————————————————

  .header {
    margin-top: 1em;
    -js-display: flex;
    display: flex;
    flex-direction: column-reverse;
    figure {
      margin-top: -4em;
      margin-bottom: 0;
    }
  }
  .stanza {
    padding: 1em;
    z-index: 9999999;
    white-space: nowrap;
  }
  .bylines p {
    text-align: center;
  }
  .drops {
    figure {
      width: 50%;
      margin: -1em auto 0;
    }
  }
  .heart {
    margin: -4em 0;
  }
  .stone {
    margin: -2em 0 0;
  }
  .credits {
    font-family: $font-secondary;
    font-size: $font-size-small-2;
    border-top: 1px solid $gray-light-3;
    padding: 2em 1em;
    color: $color__dark-grey;
  }
  .fireside-badge {
    opacity: .3;
    text-align: center;
    margin: 2em;
  }

//————————————————————————————
//————————————————————————————

//  responsive layout grids

//————————————————————————————
//————————————————————————————
  @media all and (min-width: 760px) {
    .grid-1, .grid-2 {
      -js-display: flex;
      display: flex;
      flex-direction: column;
    }
    .drops {
      margin: 0 auto;
    }
    .heart, .stone {
      -js-display: flex;
      display: flex;
      max-width: 50%;
      align-self: flex-end;
    }
    .heart {
      margin: -13.5em 0 -5em;
    }
    .stone {
      margin: -13.5em 0 -8em;
    }
    .rain, .fence, .hands {
      -js-display: flex;
      display: flex;
      padding: 1em 2em
    }
    #stz-1-1 {
      margin-left: 2em;
    }
    #stz-1-2 {
      margin-left: 1em;
    }
    #stz-1-4 {
      margin-left: 3em;
    }
    #stz-2-3 {
      margin-left: 5em;
    }
    #stz-2-4 {
      margin-left: 6em;
    }
    #stz-2-5 {
      margin-left: 4em;
    }
    #stz-2-6 {
      margin-left: 4em;
    }
    #stz-2-7 {
      margin-left: 9em;
    }
    #stz-3-1 {
      margin-left: 8em;
    }
    #stz-3-2 {
      margin-left: 3em;
    }
    #stz-3-5 {
      margin-left: 1em;
    }
    #stz-3-6 {
      margin-left: 1em;
    }
    #stz-4-1 {
      margin-left: 2em;
    }
    #stz-4-2 {
      margin-left: 3em;
    }
    #stz-4-3 {
      margin-left: 3em;
    }
    #stz-4-4 {
      margin-left: 2em;
    }
    #stz-4-5 {
      margin-left: 8em;
    }
    #stz-5-1 {
      margin-left: 4em;
    }
    #stz-5-2 {
      margin-left:8em;
    }
    #stz-5-3 {
      margin-left: 5em;
    }
    #stz-5-4 {
      margin-left: 8em;
    }
    #stz-5-5 {
      margin-left: 3em;
    }
    #stz-5-6 {
      margin-left: 6em;
    }
    #stz-5-7 {
      margin-left: 3em;
    }
    #stz-5-8 {
      margin-left: 8em;
    }
    #stz-5-9 {
      margin-left: 7em;
    }
  }
  @media all and (min-width: 900px) {
    .header {
      align-items: center;
    }
    figure {
      width: 130%;
    }
  }
  @media all and (min-width: 1200px) {
    .header {
      figure {
        width: 200%;
      }
    }
  }
}
