.thunderstorm {

  //————————————————————————————
  //————————————————————————————

  //  typography

  //————————————————————————————
  //————————————————————————————

  font-family: 'bagatela';
  font-size: .8em;
  @media all and (min-width: 375px) {
    font-size: 1em;
  }
  @media all and (min-width: 500px) {
    font-size: 1.4em;
  }
  @media all and (min-width: 600px) {
    font-size: 1.6em;
  }
  h1 {
    font-family: 'herencia';
    font-size: 3em;
    line-height: 1em;
    text-align: center;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
  }
  .home {
    height: 10px;
    width: 100%;
    background-color: $color__fireside-red;
  }

  //————————————————————————————
  //————————————————————————————

  //  animations

  //————————————————————————————
  //————————————————————————————
  animation: colorchange 10s infinite;    // for .thunderstorm
  -webkit-animation: colorchange 10s infinite;
  h1, p {
    animation: opacity-delayed 8s 1;
    -webkit-animation: opacity-delayed 8s 1;
  }
  figure {
    animation: opacity-delayed 10s 1;
    -webkit-animation: opacity-delayed 10s 1;
  }
  .home {
    animation: opacity 2s 1;
    -webkit-animation: opacity 2s 1;
  }

  @keyframes colorchange
  {
    0%   {color: #8f0223;}
    25%  {color: #77518e;}
    50%  {color: #363d50;}
    75%  {color: #1a4335;}
    100% {color: #8f0223;}
  }

  @-webkit-keyframes colorchange
  {
    0%   {color: #8f0223;}
    25%  {color: #77518e;}
    50%  {color: #363d50;}
    75%  {color: #1a4335;}
    100% {color: #8f0223;}
  }
  @keyframes opacity
  {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes opacity
  {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes opacity-delayed
  {
    0%   {opacity: 0;}
    10%  {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes opacity-delayed
  {
    0%   {opacity: 0;}
    10%  {opacity: 0;}
    100% {opacity: 1;}
  }

//————————————————————————————
//————————————————————————————

//  arabic rollovers

//————————————————————————————
//————————————————————————————

  .arabic-text {
    padding: 1.2em .5em;
    font-weight: 500;
  }
  .raaed {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/raaed-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/raaed.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .aasfi {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/aasfi-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/aasfi.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .ghaymi {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/ghaymi-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/ghaymi.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .aaskar {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/aaskar-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/aaskar.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .hammam {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/hammam-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/hammam.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }


//————————————————————————————
//————————————————————————————

//  base layout

//————————————————————————————
//————————————————————————————

  .header {
    margin-top: 1em;
    display: flex;
    flex-direction: column-reverse;
    figure {
      margin-top: -4em;
      margin-bottom: 0;
    }
  }
  .stanza {
    padding: 1em;
    z-index: 9999999;
    white-space: nowrap;
  }
  .bylines p {
    text-align: center;
  }
  .drops {
    figure {
      width: 50%;
      margin: -1em auto 0;
    }
  }
  .heart {
    margin: -4em 0;
  }
  .stone {
    margin: -2em 0 0;
  }

//————————————————————————————
//————————————————————————————

//  footer

//————————————————————————————
//————————————————————————————

  .credits {
    font-family: $font-secondary;
    font-size: $font-size-small-2;
    border-top: 1px solid $gray-light-3;
    padding: 2em 1em;
    color: $color__dark-grey;
  }
  .fireside-badge {
    opacity: .3;
    text-align: center;
    margin: 2em;
  }

//————————————————————————————
//————————————————————————————

//  responsive layout grids

//————————————————————————————
//————————————————————————————
}
