<div id="side-toc" class="sidenav">
  <ul class="toc">
    <a href="#what-is-fireside" class="active"><li><h5>What is Fireside?</h5></li></a>
    <a href="#fair-pay-for-everyone"><li><h5>Fair Pay for Everyone</h5></li></a>
    <a href="#supporting-fireside"><li><h5>Supporting Fireside</h5></li></a>
    <a href="#the-fireside-team"><li><h5>The Fireside Team</h5></li></a>
    <a href="#submissions-guidelines"><li><h5>Submissions Guidelines</h5></li></a>
    <!--<ul>
      <a href="#what-we-are-looking-for"><li><h5>What We Are Looking For</h5></li></a>
      <a href="#diversity"><li><h5>Diversity</h5></li></a>
      <a href="#what-we-dont-want"><li><h5>What We Don't Want</h5></li></a>
      <a href="#what-about-sex-violence-and-profanity"><li><h5>What About Sex, Violence, and Profanity?</h5></li></a>
    </ul>-->
    <a href="#content-notes"><li><h5>Content Notes</h5></li></a>
    <a href="#more-questions"><li><h5>More Questions?</h5></li></a>
  </ul>
</div>
