<div id="side-toc" class="sidenav">
  <ul class="toc">
    <a href="#what-is-fireside" class="active"><li><h5>What is Fireside?</h5></li></a>
    <a href="#fair-pay-for-everyone"><li><h5>Fair Pay for Everyone</h5></li></a>
    <a href="#supporting-fireside"><li><h5>Supporting Fireside</h5></li></a>
    <a href="#the-fireside-team"><li><h5>The Fireside Team</h5></li></a>
    <a href="#submissions-guidelines"><li><h5>Submissions Guidelines</h5></li></a>
    <ul>
      <a href="#the-rules"><li><h5>The Rules</h5></li></a>
      <a href="#payment--rights"><li><h5>Payment &amp; rights</h5></li></a>
      <a href="#what-were-looking-for"><li><h5>What we’re looking for</h5></li></a>
      <a href="#inclusivity"><li><h5>Inclusivity</h5></li></a>
      <a href="#7-easy-ways-to-get-banned-from-submitting"><li><h5>7 easy ways to get banned from submitting</h5></li></a>
      <a href="#we-also-dont-want"><li><h5>We also don’t want</h5></li></a>
      <a href="#manuscript-formatting"><li><h5>Manuscript formatting</h5></li></a>
      <a href="#a-final-note"><li><h5>A final note</h5></li></a>
      <a href="#how-to-submit"><li><h5>How to submit</h5></li></a>
    </ul>
    <a href="#content-notes"><li><h5>Content Notes</h5></li></a>
    <a href="#more-questions"><li><h5>More Questions?</h5></li></a>
  </ul>
</div>
