<div id="side-toc" class="sidenav">
  <ul class="toc">
    <a href="#what-is-fireside" class="active"><li>What is Fireside?</li></a>
    <a href="#fair-pay-for-everyone"><li>Fair Pay for Everyone</li></a>
    <a href="#supporting-fireside"><li>Supporting Fireside</li></a>
    <a href="#the-fireside-team"><li>The Fireside Team</li></a>
    <a href="#submissions-guidelines"><li>Submissions Guidelines</li></a>
    <ul>
      <a href="#at-a-glance"><li>At a Glance</li></a>
      <a href="#what-to-expect-from-us"><li>What to expect from us</li></a>
      <a href="#dealbreakers-please-do-not-send-us-these-things"><li>Dealbreakers</li></a>
      <a href="#payment--rights"><li>Payment & rights</li></a>
      <a href="#what-were-looking-for"><li>What we’re looking for</li></a>
      <a href="#inclusivity"><li>Inclusivity</li></a>
      <a href="#7-easy-ways-to-get-banned-from-submitting"><li>7 easy ways to get banned from submitting</li></a>
      <a href="#manuscript-formatting"><li>Manuscript formatting</li></a>
      <a href="#turnaround-and-feedback"><li>Turnaround and feedback</li></a>
    </ul>
    <a href="#questions"><li>Questions?</li></a>
    <a href="#content-notes"><li>Content Notes</li></a>
  </ul>
</div>
