<div id="alphabet-nav" class="alphanav">
  <ul class="toc">
    <a href="#a" class="active"><li>A</li></a>
    <a href="#b" class="active"><li>B</li></a>
    <a href="#c" class="active"><li>C</li></a>
    <a href="#d" class="active"><li>D</li></a>
    <a href="#e" class="active"><li>E</li></a>
    <a href="#f" class="active"><li>F</li></a>
    <a href="#g" class="active"><li>G</li></a>
    <a href="#h" class="active"><li>H</li></a>
    <a href="#i" class="active"><li>I</li></a>
    <a href="#j" class="active"><li>J</li></a>
    <a href="#k" class="active"><li>K</li></a>
    <a href="#l" class="active"><li>L</li></a>
    <a href="#m" class="active"><li>M</li></a>
    <a href="#n" class="active"><li>N</li></a>
    <a href="#o" class="active"><li>O</li></a>
    <a href="#p" class="active"><li>P</li></a>
    <a href="#q" class="active"><li>Q</li></a>
    <a href="#r" class="active"><li>R</li></a>
    <a href="#s" class="active"><li>S</li></a>
    <a href="#t" class="active"><li>T</li></a>
    <a href="#u" class="active"><li>U</li></a>
    <a href="#v" class="active"><li>V</li></a>
    <a href="#w" class="active"><li>W</li></a>
    <a href="#x" class="active"><li>X</li></a>
    <a href="#y" class="active"><li>Y</li></a>
    <a href="#z" class="active"><li>Z</li></a>
  </ul>
</div>
