<h4 class="about-the-author">{% if page.spanish-language %}Sobre {% if page.author-2 %}los autores{% else %}el autor{% endif %}{% else %}About the author{% if page.author-2 %}s{% endif %}{% endif %}</h4>

  <div class="author-info">
    {% if author.profile-pic %}
      <figure class="author-image">
        <a href="{{ author.url }}"><img src="/images/contributors/{{ author.profile-pic }}" alt="{{ author.credit-name }}"/></a>
      </figure>
    {% endif %}
    <div class="author-bio">
      {% if page.spanish-language %}
      <p>{{ author.bio-spanish | markdownify }}</p>
      {% else %}
      <p>{{ author.content | markdownify }}</p>
      {% endif %}
    </div>
  </div>

  {% if page.author-2 %}
  <div class="author-info">
    {% if author-2.profile-pic %}
      <figure class="author-image">
        <a href="{{ author-2.url }}"><img src="/images/contributors/{{ author-2.profile-pic }}" alt="{{ author-2.credit-name }}"/></a>
      </figure>
    {% endif %}
    <div class="author-bio">
      {% if page.spanish-language %}
      <p>{{ author-2.bio-spanish | markdownify }}</p>
      {% else %}
      <p>{{ author-2.content | markdownify }}</p>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if page.author-3 %}
  <div class="author-info">
    {% if author-3.profile-pic %}
      <figure class="author-image">
        <a href="{{ author-3.url }}"><img src="/images/contributors/{{ author-3.profile-pic }}" alt="{{ author-3.credit-name }}"/></a>
      </figure>
    {% endif %}
    <div class="author-bio">
      {% if page.spanish-language %}
      <p>{{ author-3.bio-spanish | markdownify }}</p>
      {% else %}
      <p>{{ author-3.content | markdownify }}</p>
      {% endif %}
    </div>
  </div>
  {% endif %}

{% if page.illustrator %}
  <h4>{% if page.spanish-language %}Sobre le artista{% else %}About the artist{% endif %}</h4>

  <div class="author-info">
    {% if illustrator.profile-pic %}
      <figure class="author-image">
        <a href="{{ illustrator.url }}"><img src="/images/contributors/{{ illustrator.profile-pic }}" alt="{{ illustrator.credit-name }}"/></a>
      </figure>
    {% endif %}
    <div class="author-bio">
      <p>{{ illustrator.content | markdownify }}</p>
    </div>
  </div>
{% endif %}
