<div class="call-to-action">
  <h2 id="support-fireside">Support Fireside</h2>
  <p>If you want to help us keep publishing great stories and paying writers well, please consider supporting us via the following methods:</p>
  <div class="support-buttons">
    <div>
      <h3>Back us on Patreon</h3>
      <p>Become one of our backers on Patreon, and get exclusive rewards every month, like wallpapers and postcards.</p>
      <a href="https://www.patreon.com/bePatron?u=48543" class="btn patreon-btn">Back us on Patreon</a>
    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <h3>Subscribe to our ebooks</h3>
      <p>Subscribe to our monthly ebook delivery diretly. Every first of the month you'll recieve an ebook with the upcoming month's stories and artwork.</p>
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="MU8Z8NJHCRDRU">
      <table>
      <tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
      	<option value="Ebooks">Ebooks : $2.00 USD - monthly</option>
      	<option value="Ebooks and Wallpapers">Ebooks and Wallpapers : $5.00 USD - monthly</option>
      </select> </td></tr>
      </table>
      <input type="hidden" name="currency_code" value="USD">
      <input type="submit" name="submit" value="Subscribe with PayPal" alt="PayPal - The safer, easier way to pay online!">
    </form>
  </div>
</div>
