<div class="call-to-action">
  <h2 id="subscribe">Subscribe to Fireside</h2>
  <p>The very best way to support us is to subscribe to <em>Fireside Magazine</em>.</p>
  <h3>Fireside Magazine — $5.00 per month</h3>
  <div class="subscription-tier">
    <p>Each month, <em>Fireside Magazine</em> subscribers will receive an ebook (Epub and Mobi) with the upcoming month's stories in it. All our Magazine subscribers get to read our stories before they hit the website.</p>
    <div>
      <a href="https://firesidefiction.memberful.com/checkout?plan=25782" class="btn">Fireside Magazine — $5.00</a><br/>
      <small><a href="https://firesidefiction.memberful.com/checkout?plan=25935">Subscribe for a Year</a> | <a href="https://firesidefiction.memberful.com/gift?plan=25935">Send as a gift</a></small>
    </div>
  </div>

  <h3>Fireside Quarterly — $10.00 per month</h3>
  <div class="subscription-tier">
    <p><em>Fireside Quarterly</em> subscribers wil recieve the print edition of <em>Fireside Quarterly</em> four times a year. Each month, <em>Quarterly</em> subscribers will also receive the ebook edition of <em>Fireside Magazine</em>.</p>
    <div>
      <a href="https://firesidefiction.memberful.com/checkout?plan=25789" class="btn">Fireside Quarterly — $10.00</a><br/>
      <small><a href="https://firesidefiction.memberful.com/checkout?plan=25936">Subscribe for a Year</a> | <a href="https://firesidefiction.memberful.com/gift?plan=25936">Send as a gift</a></small>
    </div>
  </div>

  <p>You can also support Fireside via one of these methods:</p>
  <h3>Subscribe <a href="https://d.rip/fireside">on Drip</a></h3>
  <h3>Back us <a href="https://www.patreon.com/bePatron?u=48543">on Patreon</a></h3>
  <h3>Make a <a href="https://www.paypal.com/donate/?token=I48NdX2cpCzpp8RcSd_Ux8bkjXuKnAQwHVlrkcFoNgJiqL-ncQEf-CuOmSfYbdVyMv0TOW&country.x=US&locale.x=US">one-time donation</a></h3>
  <h3>Buy ebooks, posters, and branded merch on <a href="https://store.firesidefiction.com">the Fireside Shop</a>

</div>
