<div class="call-to-action">
  <h2 id="support-fireside">Support Fireside</h2>
  <p>The very best way to support us is to subscribe to our Magazine. Each month, subscribers will receive an ebook (Epub and Mobi) with the upcoming month's stories in it. All our subscribers get to read our stories before they hit the website.</p>
  <p>We offer six tiers for you to support us, based on your ability to pay.</p>
  <h3>Spark — $2.00 per month</h3>
  <div class="subscription-tier">
    <p>Our most popular subscription tier, and our most important supporters. We couldn't do this without you.</p>
    <div>
      <a href="https://firesidefiction.memberful.com/checkout?plan=25779" class="btn">Spark Subscription — $2.00</a><br/>
      <small><a href="https://firesidefiction.memberful.com/gift?plan=25779">Give a Spark subscription as a gift</a></small>
    </div>
  </div>

  <h3>Ember — $5.00 per month</h3>
  <div class="subscription-tier">
    <p>You can send us a little more each month. Every extra bit helps.</p>
    <div>
      <a href="https://firesidefiction.memberful.com/checkout?plan=25782" class="btn">Ember Subscription — $5.00</a><br/>
      <small><a href="https://firesidefiction.memberful.com/gift?plan=25782">Give an Ember subscription as a gift</a></small>
    </div>
  </div>

  <h3>Flame — $10.00 per month</h3>
  <div class="subscription-tier">
    <p>Help us become a healthy, stable, and thriving publication.</p>
    <div>
      <a href="https://firesidefiction.memberful.com/checkout?plan=25789" class="btn">Flame Subscription — $10.00</a><br/>
      <small><a href="https://firesidefiction.memberful.com/gift?plan=25789">Give a Flame subscription as a gift</a></small>
    </div>
  </div>

  <h3>Campfire — $20.00 per month</h3>
  <div class="subscription-tier">
    <p>Hey big spender. You want to help us raise our rates, so that we can pay our contributors more than we do currently.</p>
    <div>
      <a href="https://firesidefiction.memberful.com/checkout?plan=25790" class="btn">Campfire Subscription — $20.00</a><br/>
      <small><a href="https://firesidefiction.memberful.com/gift?plan=25790">Give a Campfire subscription as a gift</a></small>
    </div>
  </div>

  <h3>Bonfire — $50.00 per month</h3>
  <div class="subscription-tier">
    <p>Wow, you're an honest-to-goodness patron of the arts. You'll help us expand our operations, and expand the magazine.</p>
    <div>
      <a href="https://firesidefiction.memberful.com/checkout?plan=25791" class="btn">Bonfire Subscription — $50.00</a><br/>
      <small><a href="https://firesidefiction.memberful.com/gift?plan=25791">Give a Bonfire subscription as a gift</a></small>
    </div>
  </div>

  <h3>Blaze — $100.00 per month</h3>
  <div class="subscription-tier">
    <p>Holy smokes WYD ZOMFG thank you. You'll be <em>last</em> against the wall when the revolution comes.</p>
    <div>
      <a href="https://firesidefiction.memberful.com/checkout?plan=25792" class="btn">Blaze Subscription — $100.00</a><br/>
      <small><a href="https://firesidefiction.memberful.com/gift?plan=25792">Give a Blaze subscription as a gift</a></small>
    </div>
  </div>
  <hr/>

  <p>You can also support Fireside via one of these methods:</p>
  <div class="support-buttons">
    <div>
      <h3>Back us on Patreon</h3>
      <p>Become one of our backers on Patreon.</p>
      <a href="https://www.patreon.com/bePatron?u=48543" class="btn">Back us on Patreon</a>
    </div>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <h3>Make a one-time donation</h3>
      <p>You can also just thorw us a few bucks.</p>
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="36FZGYQTMKM8G">
      <input type="submit" name="submit" value="Donate with PayPal" alt="PayPal - The safer, easier way to pay online!">
    </form>
  </div>

</div>
