<section class="home-stream">

  <div class="home-magazine">
    <h2 class="label no-border"><em>Fireside Magazine</em> published its final issue in Summer 2022. Our final book <a href="https://firesidefiction.com/book/if-wishes-were-obfuscation-codes-and-other-stories"><i>If Wishes Were Obfuscation Codes and Other Stories</i></a> is out now!</h2>
    {% assign items_grouped = site.posts | group_by: 'issue' %}
      {% for group in items_grouped limit: 10 %}
      {% for item in group.items limit: 1 %}
      {% if item.issue %}
        <h2><em>Fireside Magazine</em> Issue {{group.name}}</h2>
        <div class="issue-container">
          {% for item in group.items limit: 1 %}
          <div class="ebook-showcase">
            {% if item.issue-cover %}
            <figure>
              <img class="" src="/images/issue-covers/{{ item.issue-cover }}" alt="ebook cover">
            </figure>
            {% endif %}
          </div>
          {% endfor %}
          <div class="issue-contents">
            {% for item in group.items %}
              {% if item.category == "short story" or item.category == "story" or item.category == "cuento corto" or item.category == "cuento" or item.category == "flash fiction" or item.category == "comic" or item.category == "poem" or item.category == "essay" %}
                <div>
                  <p class="category">{{ item.category }}</p>
                  <h3><a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>, <br/>by {% assign author = site.contributors | where:'short-name', item.author  | first %}{{ author.credit-name }}{% if item.art %}; {% if item.spanish-language %}ilustrado por {% else %}illustrated by{% endif %} {% assign artist = site.contributors | where:'short-name', item.illustrator  | first %}{{ artist.credit-name }}{% endif %}</h3>
                  {{ item.teaser  | markdownify }}
                </div>
              {% endif %}
              {% if item.category == "serial" %}
                <div>
                  <small class="category">{{ item.category }}: {{ item.serial-name }}, Chapter {{ item.part }}</small>
                  <h1><a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a></h1>
                  <h3>by {{ item.author }}</h3>
                  <p>{{ item.teaser  | markdownify }}</p>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      {% endfor %}
      <p class="btn reverse"><a href="/magazine">See all back issues</a></p>
  </div>

    <div class="home-sidebar">
      <h2 class="label no-border">Announcements</h2>
      {% for post in site.posts limit: 23 %}
        {% if post.category == "announcement" %}
         <div>
          <small class="category">{{ post.date | date: "%b %-d, %Y" }}</small>
          <p><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>, <br/>by {% assign author = site.contributors | where:'short-name', post.author  | first %}{{ author.credit-name }}</p>
        </div>
      {% endif %}
      {% endfor %}
      <p><a href="/announcements">See all</a></p>
    </div>

</section>
