<section class="home-stream">
  <div class="home-magazine">
    <h4 class="label no-border">Fireside Magazine</h4>
    {% assign items_grouped = site.posts | group_by: 'issue' %}
      {% for group in items_grouped limit: 4 %}
        <h2>Issue {{group.name}}</h2>
        {% for item in group.items %}
          {% if item.category == "short story" or item.category == "story" or item.category == "cuento corto" or item.category == "cuento" or item.category == "flash fiction" or item.category == "comic" or item.category == "poem" %}
            <div>
              <!--p class="category">{{ item.category }}</p-->
              <!--small class="category">{{ item.date | date: "%b %-d, %Y" }}</small-->
              <h3><a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a></h3>
              <p>{% if item.spanish-language %}un {{ item.category }} por{% else %}a {{ item.category }} by{% endif %} {% assign author = site.contributors | where:'short-name', item.author  | first %}{{ author.credit-name }}{% if item.art %}; {% if item.spanish-language %}ilustrado por {% assign illustrator = site.contributors | where:'short-name', item.illustrator  | first %}{{ illustrator.credit-name }}{% else %}illustrated by{% endif %} {% assign illustrator = site.contributors | where:'short-name', item.illustrator  | first %}{{ illustrator.credit-name }}{% endif %}
              <br/>{{ item.teaser | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
      <p class="btn reverse"><a href="/magazine">See all back issues</a></p>
  </div>
  <div class="home-sidebar">
    <!--div>
      <h4 class="label no-border">Featured Book</h4>
    </div-->
    <!--div-->
      <h4 class="label no-border">Essays and News</h4>
      {% for post in site.posts limit: 80 %}
        {% if post.category == "news" or post.category == "announcement" or post.category == "essay" or post.category == "interview" %}
        <div>
          <small class="category">{{ post.date | date: "%b %-d, %Y" }} | {{ post.category }}</small>
          <p><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>, by {% assign author = site.contributors | where:'short-name', post.author  | first %}{{ author.credit-name }}</p>
          <!-- p>{{ item.teaser | markdownify | remove: '<p>' | remove: '</p>' }}</p-->
        </div>
        {% endif %}
        {% if post.category == "#Blackspecfic" %}
        <div>
          <small class="category">{{ post.date | date: "%b %-d, %Y" }} | <a href="/blackspecfic">{{ post.category }}</a></small>
          <p><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>, by {% assign author = site.contributors | where:'short-name', post.author  | first %}{{ author.credit-name }}</p>
          <!-- p>{{ item.teaser | markdownify | remove: '<p>' | remove: '</p>' }}</p-->
        </div>
        {% endif %}
      {% endfor %}
      <p class="btn reverse"><a href="/blog">See all articles</a></p>
    </div>
  <!--/div-->
</section>
