<div class="marketing">
  <div class="sponsor-callout">
    <div>
      <label><h2>Thanks to our Sponsors</h2></label>
      <p>We couldn’t bring you stories like this every month without the support of our subscribers and Patreon backers. We’d especially like to thank these backers for their generosity:</p>
      <h3><a href="#">Sponsor Name</a></h3> <p>A short description of the sponsor.</p>
    </div>
  </div>

  <form action="#" method="post" class="inline-form newsletter-form">
      <fieldset>
        <label for="newsletter-scope"><h2>Sign up for our newsletter</h2></label>
        <p>Get notifications whenever we publish a new issue, and all the latest news about our books. Also @talkwordy may or may not send you cheesy poems.</p>
        <div class="inline-container">
          <input type="newsletter" placeholder="E-mail address" id="newsletter-field" class="newsletter-field" />
          <button class="btn">Sign Me Up</button>
        </div>
      </fieldset>
      <p class="rss-subscribe">Subscribe to Fireside <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      {% include icon-twitter.html %}
  </form>
</div>
