  <nav>
  	<ul>
      <li><a id="books" href="{{ "/books" | relative_url}}">Books</a></li>
      <li><a id="contributors" href="{{ "/contributors" | relative_url}}">Contributors</a></li>
  		<li><a id="submissions" href="{{ "/submissions" | relative_url}}">Submissions</a></li>
      <li><a id="values" href="{{ "/values" | relative_url}}">Values</a></li>
      <li><a id="about" href="{{ "/about" | relative_url}}">About Us</a></li>
      <li><a id="subscribe-link" href="{{ "/subscribe" | relative_url}}">Subscribe</a></li>
  	</ul>
  </nav><!--end .nav-->
