<div class="back-issues-for-sale">
  <h1 class="sales-lead" id="back-issues">Back Issues for Sale</h1>
  <p>Individual back issues of <em>Fireside Quarterly</em>, delivered straight to your mailbox. Each issue features over 120 pagees of stories, along with three enormous illustrations in full color.</p>

    <div class="single-back-issue">
      <figure><img src="{{ "/images/graphics/fq-oct-2019-cover.png" | relative_url}}"></figure>
      <div>
        <h3>Fireside  Quarterly</h3>
        <h2>October 2019</h2><br>
        <small><strong>FEATURING STORIES BY:</strong> Dominica Phetteplace, Eugenia Triantafyllou, Suzan Palumbo, Sherin Nicole, A. T. Greenblatt, Amanda Helms, Catherine Lundoff, Carolin Jansen, Kerry Truong, Suyi Davies Okungbowa, Patricia Coral, Francesca Forrest, Innocent Chizaram Ilo, and Eliza Victoria</small><br>
        <small><strong>POEMS BY:</strong> C. S. E. Cooney, Okwudili Nebeolisa, and Amber Bird</small><br>
        <small><strong>ESSAYS BY:</strong> Diana Lu, Elsa Sjunneson, and Brandon O'Brien</small><br>
        <small><strong>ILLUSTRATIONS BY:</strong> Stephanie Singleton, Amanda Makepeace, and Reiko Murakami</small><br>
        <a class="btn" href="https://gum.co/FQ-OCT-2019" target="_blank">Buy this issue — $25</a>
      </div>
    </div>

    <div class="single-back-issue">
      <figure><img src="{{ "/images/graphics/fq-jul-2019-cover.png" | relative_url}}"></figure>
      <div>
        <h3>Fireside  Quarterly</h3>
        <h2>July 2019</h2><br>
        <small><strong>FEATURING STORIES BY:</strong> Izzy Wasserstein, Alexandra Seidel, José González Vargas, Cyd Athens, Karolina Fedyk, Nghi Vo, Ana Hurtado, Beth Goder, Mary Berman, Zoë Medeiros, Ben Francisco, Raquel Castro, Sheree Renée Thomas, and Raquel Castro</small><br>
        <small><strong>POEMS BY:</strong> Rose Lemberg, Jessica Jo Horowitz, and Rešoketšwe Manenzhe</small><br>
        <small><strong>ESSAYS BY:</strong> Mikki Kendall, Derek Newman-Stille, and A. A. McNamara</small><br>
        <small><strong>ILLUSTRATIONS BY:</strong> Matthew Davis, Ora Xu, and Cat O'Neil</small><br>
        <a class="btn" href="https://gum.co/FQ-JUL-2019" target="_blank">Buy this issue — $25</a>
      </div>
    </div>

    <div class="single-back-issue">
      <figure><img src="{{ "/images/graphics/fq-apr-2019-cover.png" | relative_url}}"></figure>
      <div>
        <h3>Fireside  Quarterly</h3>
        <h2>April 2019</h2><br>
        <small><strong>FEATURING STORIES BY:</strong> Izzy Wasserstein, Alexandra Seidel, José González Vargas, Cyd Athens, Karolina Fedyk, Nghi Vo, Ana Hurtado, Beth Goder, Mary Berman, Zoë Medeiros, Ben Francisco, Raquel Castro, Sheree Renée Thomas, and Raquel Castro</small><br>
        <small><strong>POEMS BY:</strong> Rose Lemberg, Jessica Jo Horowitz, and Rešoketšwe Manenzhe</small><br>
        <small><strong>ESSAYS BY:</strong> Mikki Kendall, Derek Newman-Stille, and A. A. McNamara</small><br>
        <small><strong>ILLUSTRATIONS BY:</strong> Matthew Davis, Ora Xu, and Cat O'Neil</small><br>
        <a class="btn" href="https://gum.co/FQ-APR-2019" target="_blank">Buy this issue — $25</a>
      </div>
    </div>

    <div class="single-back-issue">
      <figure><img src="{{ "/images/graphics/fq-jan-2019-cover.png" | relative_url}}"></figure>
      <div>
        <h3>Fireside  Quarterly</h3>
        <h2>January 2019</h2><br>
        <small><strong>FEATURING STORIES BY:</strong> Brandon O'Brien, Russell Nichols, Stu West, Eden Royce, Mary Soon Lee, Karen Osborne, Jenn Reese, Jennifer Stephan Kapral, Jaymee Goh, George Lockett, A. T. Greenblatt, Shiv Ramdas, and Alberto Chimal</small><br>
        <small><strong>POEMS BY:</strong> Fran Wilde, Sabrina Vourvoulias, and Sheree Renée Thomas</small><br>
        <small><strong>ESSAYS BY:</strong> Layla Al-Bedawi, Kenesha Williams, and Sarah Gailey</small><br>
        <small><strong>ILLUSTRATIONS BY:</strong> Ashanti Fortson, Galen Dara, and Bernard Lee</small><br>
        <a class="btn" href="https://gum.co/FQ-JAN-2019" target="_blank">Buy this issue — $25</a>
      </div>
    </div>

    <div class="single-back-issue">
      <figure><img src="{{ "/images/graphics/fq-oct-2018-cover.png" | relative_url}}"></figure>
      <div>
        <h3>Fireside  Quarterly</h3>
        <h2>October 2018</h2><br>
        <small><strong>FEATURING STORIES BY:</strong> Nino Cipri, Keyan Bowes, Sarah Gailey, Takim Williams, D.A. Xiaolin Spires, Sara Norja, Renee Christopher, Natalia Theodoridou, J.M. Guzman, Nilah Magruder, Kathryn Kania, Brian M. Milton, and Fran Wilde</small><br>
        <small><strong>ESSAYS BY:</strong> Danilo Campos, Tariro Ndoro, and Fran Wilde</small><br>
        <small><strong>ILLUSTRATIONS BY:</strong> Saleha Chowdhury, Satu Kettunen, and Clare DeZutti</small><br>
        <a class="btn" href="https://gum.co/FQ-OCT-2018" target="_blank">Buy this issue — $20</a>
      </div>
    </div>

    <div class="single-back-issue">
      <figure><img src="{{ "/images/graphics/fq-jul-2018-cover.png" | relative_url}}"></figure>
      <div>
        <h3>Fireside  Quarterly</h3>
        <h2>July 2018</h2><br>
        <small><strong>FEATURING STORIES BY:</strong> Beth Cato, Nibedita Sen, Christopher R. Alonso, Alexandra Rowland, Innocent Chizaram Ilo, Ose Utomi, Kate Dollarhyde, Courtney Floyd, Sarah Goslee, Anne Dafeta, Annalee Flower Horne, Beth Goder, and Mari Ness</small><br>
        <small><strong>ESSAYS BY:</strong> Hillary Monahan, Ace Ratcliff, and Jessica Cauterro</small><br>
        <small><strong>ILLUSTRATIONS BY:</strong> Charis Loke, Michelle Wong, and Kevin Tong</small><br>
        <a class="btn" href="https://gum.co/FQ-JUL-2018" target="_blank">Buy this issue — $20</a>
      </div>
    </div>
  </div>
