<h1 class="sales-lead" id="back-issues">Back Issues for Sale</h1>
<p>Individual issues of <em>Fireside Quarterly</em>, delivered straight to you. Each issue features over 120 pagees of stories, along with three enormous illustrations in full color. Each issue is available as a Print+Ebook Bundle, so you'll get an instant download of the EPUB and Mobi files with the stories, while you wait for your print issue to show up in your mailbox.</p>

<div class="back-issues-for-sale">
      <div class="single-back-issue">
      <figure><img src="{{ "/images/graphics/FQ-OCT-18-bundle.png" | relative_url}}"></figure>
      <div>
        <h3>Fireside  Quarterly</h3>
        <h2>October 2018</h2><br>
        <small><strong>FEATURING STORIES BY:</strong> Nino Cipri, Keyan Bowes, Sarah Gailey, Takim Williams, D.A. Xiaolin Spires, Sara Norja, Renee Christopher, Natalia Theodoridou, J.M. Guzman, Nilah Magruder, Kathryn Kania, Brian M. Milton, and Fran Wilde</small><br>
        <small><strong>ESSAYS BY:</strong> Danilo Campos, Tariro Ndoro, and Fran Wilde</small><br>
        <small><strong>ILLUSTRATIONS BY:</strong> Saleha Chowdhury, Satu Kettunen, and Clare DeZutti</small><br>
        <a class="btn" href="https://gum.co/FQ-OCT-2018" target="_blank">Buy this issue</a>
      </div>
    </div>

    <div class="single-back-issue">
      <figure><img src="{{ "/images/graphics/FQ-JUL-18-bundle.png" | relative_url}}"></figure>
      <div>
        <h3>Fireside  Quarterly</h3>
        <h2>July 2018</h2><br>
        <small><strong>FEATURING STORIES BY:</strong> Beth Cato, Nibedita Sen, Christopher R. Alonso, Alexandra Rowland, Innocent Chizaram Ilo, Ose Utomi, Kate Dollarhyde, Courtney Floyd, Sarah Goslee, Anne Dafeta, Annalee Flower Horne, Beth Goder, and Mari Ness</small><br>
        <small><strong>ESSAYS BY:</strong> Hillary Monahan, Ace Ratcliff, and Jessica Cauterro</small><br>
        <small><strong>ILLUSTRATIONS BY:</strong> Charis Loke, Michelle Wong, and Kevin Tong</small><br>
        <a class="btn" href="https://gum.co/FQ-JUL-2018" target="_blank">Buy this issue</a>
      </div>
    </div>
  </div>
