  <div class="back-issues-for-sale">
    <div class="single-back-issue">
      <figure><img src="{{ "/images/graphics/FQ-OCT-18-bundle.png" | relative_url}}"></figure>
      <div>
        <h2>Fireside  Quarterly</h2>
        <h3>October, 2019</h3><br>
        <small>Featuring words by Takim Williams, Keyan Bowes, Sarah Gailey, Danilo Campos, Nino Cipri, D.A. Xiaolin Spires, Sara Norja, Renee Christopher, Tariro Ndoro, Natalia Theodoridou, J.M. Guzman, Nilah Magruder, Brian M. Milton, Fran Wilde, Kathryn Kania; and artwork by Saleha Chowdhury, Satu Kettunen, and Clare DeZutti.</small>
        <a class="btn" href="https://gum.co/FQ-OCT-2018" target="_blank">Buy this issue</a>
      </div>
    </div>

    <div class="single-back-issue">
      <figure><img src="{{ "/images/graphics/FQ-JUL-18-bundle.png" | relative_url}}"></figure>
      <div>
        <h2>Fireside  Quarterly</h2>
        <h3>July, 2019</h3><br>
        <small>Featuring words by Christopher R. Alonso, Courtney Floyd, Jessica S. Cauttero, Alexandra Rowland, Innocent Chizaram Ilo, Nibedita Sen, Sarah Goslee, Ace Tilton Ratcliff, Kate Dollarhyde, Annalee Flower Horne, Anne Dafeta, Beth Goder, Mari Ness; and artwork by Charis Loke, Kevin Tong, and Michelle Wong.</small>
        <a class="btn" href="https://gum.co/FQ-JUL-2018" target="_blank">Buy this issue</a>
      </div>
    </div>
  </div>
