<div  id="subscribe" class="call-to-action">
  <h1>Support Fireside</h1>
  <p>You can still continue to support us as we wind down:</p>
  <br>
  <!--div class="subscription-tier print">
    <figure><img src="{{ "/images/graphics/magazine-product-page-hero-shot.png" | relative_url}}"></figure>
    <div>
      <h2>Fireside Quarterly</h2>
      <h3>$10.00 per month</h3><br>
      <p><em>Fireside Quarterly</em> subscribers will receive the print edition of <em>Fireside Quarterly</em> four times a year. Each month, <em>Quarterly</em> subscribers will also receive the ebook edition of <em>Fireside Magazine</em>. <a href="/subscribe">Find out more about <em>Fireside Quarterly</em></a>.</p>
      <a href="https://firesidefiction.memberful.com/checkout?plan=25789" class="btn">Fireside Quarterly — $10.00</a>
      <br>
      <small><a href="https://firesidefiction.memberful.com/checkout?plan=25936">Subscribe for a Year</a> | <a href="https://firesidefiction.memberful.com/gift?plan=25936">Send as a gift</a></small>
    </div>
  </div-->

  <div class="subscription-tier ebook">
    <!--figure><img src="{{ "/images/graphics/magazine-product-page-ebook.png" | relative_url}}"></figure-->
    <div>
      <h2>Support Ongoing Costs</h2>
      <h3>A pay-what-you-want monthly donation</h3><br>
      <p>Although we're winding down, we will continue to publish the stories from <em>Fireside Magazine</em>'s final issue each week here on our site as usual, and we intend to keep the website running as an archive so that all the amazing stories, poems, and essays we've published will remain available to read.
The ongoing costs of doing so will not longer be offset by magazine subscriptions, so instead we have a new pay-what-you-want recurring donation "subscription". Fireside is not a registered charity, so this donation would not be tax-deductible, but it would be a tremendous help.</p>
      <a href="https://firesidefiction.memberful.com/checkout?plan=82125&price=2" class="btn">Sign Up to Help</a>
    </div>
  </div>

  <p>You can also support us by buying books, back issues, posters, and branded merch from <a href="https://store.firesidefiction.com">the Fireside Shop</a>.</p>

</div>
