<div class="quarterly-showcase">
  <div>
    <figure>
      <img class="" src="/images/graphics/magazine-product-page-hero-shot.png" alt="{{ post.caption }}">
    </figure>
    <div class="quarterly-info">
      <h4 class="label no-border">In Print and Shipping to subscribers</h4>
      <h3>Fireside Quarterly</h3>
      <h2>Spring 2020 Issue</h2>
      <br>
      <h3>Edited by L. D. Lewis</h3>
      <h4 class="label no-border">Featuring Stories by:</h4>
      <p class="quarterly-contributors">
        <span class="quarterly-contributor-01">&nbsp;
          John Wiswell
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Jordan Rivet
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Alix E. Harrow
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Charles Payseur
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Larissa Irankunda
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Izzy Wasserstein
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Aaron Menzel
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Sangeetha Thanapal
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Matthew Castleman
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Andi C. Buchanan
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Trace Yulie
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Ashley Deng
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Ace Tilton Ratcliff
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Dora Klindžić
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Tamara Jerée
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Elly Bangs
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          AJ Fitzwater
          &nbsp;</span>
      </p>
      <h4 class="label no-border">Illustrated By:</h4>
      <p class="quarterly-contributors">
        <span class="quarterly-contributor-01">&nbsp;
          Erik Ly
          &nbsp;</span>
        <span class="quarterly-contributor quarterly-contributor-16">&nbsp;
          Carlota Suárez
          &nbsp;</span>
        <span class="quarterly-contributor quarterly-contributor-17">&nbsp;
          Shaina Lu
          &nbsp;</span>
      </p>
      <div class="quarterly-showcase-cta">
        <a href="https://firesidefiction.memberful.com/checkout?plan=25789" class="btn btn-large reverse">Subscribe now<br/><small>for $10.00 per month</small></a>
        <p><a href="/subscribe">Find out more</a></p>
      </div>
    </div>
  </div>
</div>
