<div  id="subscribe" class="call-to-action">
  <h1>Subscríbase a Fireside</h1>
  <br>
  <div class="subscription-tier print">
    <figure><img src="{{ "/images/graphics/magazine-product-page-hero-shot.png" | relative_url}}"></figure>
    <div>
      <h2>Fireside Quarterly</h2>
      <h3>$10.00 USD al mes</h3><br>
      <p>Subscriptores a <em>Fireside Quarterly</em> recibirán la edición impresa de Fireside cuatro veces al año. A demás, todos los meses recibirán también la edición electrónica de <em>Fireside Magazine</em>. <a href="/subscribe">Aprenda más sobre <em>Fireside Quarterly</em></a>.</p>
      <a href="https://firesidefiction.memberful.com/checkout?plan=25789" class="btn">Fireside Quarterly — $10.00</a>
      <br>
      <small><!--<a href="https://firesidefiction.memberful.com/checkout?plan=25936">Subscribe for a Year</a> | --><a href="https://firesidefiction.memberful.com/gift?plan=25936">Envíelo como regalo</a></small>
    </div>
  </div>

  <div class="subscription-tier ebook">
    <figure><img src="{{ "/images/graphics/magazine-product-page-ebook.png" | relative_url}}"></figure>
    <div>
      <h2>Fireside Magazine</h2>
      <h3>$5.00 USD al mes</h3><br>
      <p>Todos los meses, subscriptores al <em>Magazine</em> recibirán la edición electrónica de <em>Fireside Magazine</em>.</p>
      <a href="https://firesidefiction.memberful.com/checkout?plan=25782" class="btn">Fireside Magazine — $5.00</a>
      <br>
      <small><!--<a href="https://firesidefiction.memberful.com/checkout?plan=25935">Subscribe for a Year</a> | --><a href="https://firesidefiction.memberful.com/gift?plan=25935">Envíelo como regalo</a></small>
    </div>
  </div>

  <p>La mejor manera de apoyarnos es al subscribirse a <em>Fireside</em>, pero también nos puede apoyar de las siguientes formas:</p>
  <h3>Compre libros, ebooks, afiches, y mercancía en <a href="https://store.firesidefiction.com">la tienda de Fireside</a></h3>
  <h3>Apóyenos en <a href="https://www.patreon.com/bePatron?u=48543">Patreon</a></h3>
  <h3>Haga un <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=36FZGYQTMKM8G">donativo en PayPal</a></h3>

</div>
