<div class="quarterly-showcase">
  <div>
    <figure>
      <img class="" src="/images/graphics/magazine-product-page-hero-shot.png" alt="{{ post.caption }}">
    </figure>
    <div class="quarterly-info">
      <h4 class="label no-border">In Print and Shipping to subscribers</h4>
      <h3>Fireside Quarterly</h3>
      <h2>Autumn 2020 Issue</h2>
      <br>
      <h3>Edited by Maurice Broaddus</h3>
      <h4 class="label no-border">Featuring Stories by:</h4>
      <p class="quarterly-contributors">
        <span class="quarterly-contributor-01">&nbsp;
          Jason Sanford
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Alisa Alering
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Em Liu
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Michelle Mellon
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Lucy A. Snyder
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Kate Sheeran Swed
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Regina N. Bradley
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Danian Darrell Jerry
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          M. R. Herbert
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Jaymee Goh
          &nbsp;</span>
      </p>
      <h4 class="label no-border">Illustrated By:</h4>
      <p class="quarterly-contributors">
        <span class="quarterly-contributor-01">&nbsp;
          Daniel Castro Maia
          &nbsp;</span>
        <span class="quarterly-contributor quarterly-contributor-16">&nbsp;
          Marcia Diaz
          &nbsp;</span>
        <span class="quarterly-contributor quarterly-contributor-17">&nbsp;
          Don Rimx
          &nbsp;</span>
      </p>
      
      </div>
    </div>
  </div>
</div>
