<div class="quarterly-showcase">
  <div>
    <figure>
      <img class="" src="/images/graphics/magazine-product-page-hero-shot.png" alt="{{ post.caption }}">
    </figure>
    <div class="quarterly-info">
      <h4 class="label no-border">In Print and Shipping to subscribers</h4>
      <h3>Fireside Quarterly</h3>
      <h2>Summer 2020 Issue</h2>
      <br>
      <h3>Edited by Kate Dollarhyde</h3>
      <h4 class="label no-border">Featuring Stories by:</h4>
      <p class="quarterly-contributors">
        <span class="quarterly-contributor-01">&nbsp;
          Eleanna Castroianni
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Jo Kaplan
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          David Naimon
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Mary Soon Lee
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Jo Lindsay Walton
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Vajra Chandrasekera
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Kerstin Hall
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          dave ring Tessa Fisher & Marianne Kirby
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Jeremy Packert Burke
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Makena Onjerika
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Kyle Kirrin
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
          Hal Y. Zhang
          &nbsp;</span>
        <span class="quarterly-contributor">&nbsp;
        Maria Romasco Moore
          &nbsp;</span>
      </p>
      <h4 class="label no-border">Illustrated By:</h4>
      <p class="quarterly-contributors">
        <span class="quarterly-contributor-01">&nbsp;
          Pao-ju Lin
          &nbsp;</span>
        <span class="quarterly-contributor quarterly-contributor-16">&nbsp;
          Melody Newcomb
          &nbsp;</span>
        <span class="quarterly-contributor quarterly-contributor-17">&nbsp;
          Anna Dittmann
          &nbsp;</span>
      </p>
      <div class="quarterly-showcase-cta">
        <a href="https://firesidefiction.memberful.com/checkout?plan=25789" class="btn btn-large reverse">Subscribe now<br/><small>for $10.00 per month</small></a>
        <p><a href="/subscribe">Find out more</a></p>
      </div>
    </div>
  </div>
</div>
