<div  id="subscribe" class="call-to-action">
  <h1>Subscríbase a Fireside</h1>


  <div class="subscription-tier ebook">
    <figure><img src="{{ "/images/graphics/magazine-product-page-ebook.png" | relative_url}}"></figure>
    <div>
      <h2>Fireside Magazine</h2>
      <h3>$5.00 USD al mes</h3><br>
      <p>Todos los meses, subscriptores al <em>Magazine</em> recibirán la edición electrónica de <em>Fireside Magazine</em>.</p>
      <a href="https://firesidefiction.memberful.com/checkout?plan=25782" class="btn">Fireside Magazine — $5.00</a>
      <br>
      <small><a href="https://firesidefiction.memberful.com/gift?plan=25935">Envíelo como regalo</a></small>
    </div>
  </div>

  <p>También nos puede apoyar al comprar libros, ebooks, afiches, y mercancía en <a href="https://store.firesidefiction.com">la tienda de Fireside</a></p>

</div>
