<div class="subscribe-banner">
  <section>
    <div class="image">
      <figure><img src="{{ "/images/graphics/magazine-product-page-hero-shot-sm.png" | relative_url}}"></figure>
    </div>
    <div class="copy">
      <h4>Support Fireside</h4>
      <p>Subscribe to <a href="{{ "/subscribe" | relative_url}}"><em>Fireside Quarterly</em></a>, the beautiful new print edition of Fireside.</p>
    </div>
    <div class="buttons">
      <a href="https://firesidefiction.memberful.com/checkout?plan=25789" class="btn">Fireside Quarterly — $10.00</a>
      <small><a href="https://firesidefiction.memberful.com/checkout?plan=25936">Subscribe for a Year</a> | <a href="https://firesidefiction.memberful.com/gift?plan=25936">Send as a gift</a></small>
    </div>
  </section>
</div>
