<div class="subscribe-banner">
  <section>
    <div class="image">
      <figure><img src="{{ "/images/graphics/magazine-product-page-hero-shot-sm.png" | relative_url}}"></figure>
    </div>
    <div class="copy">
      <h4>Apoye a Fireside</h4>
      <p>Subscríbase a <a href="{{ "/subscribe" | relative_url}}"><em>Fireside Quarterly</em></a>, la bella edición impresa de Fireside.</p>
    </div>
    <div class="buttons">
      <a href="https://firesidefiction.memberful.com/checkout?plan=25789" class="btn">Fireside Quarterly — $10.00</a>
      <small><a href="https://firesidefiction.memberful.com/checkout?plan=25936">Subscríbase por un año</a> | <a href="https://firesidefiction.memberful.com/gift?plan=25936">Envíelo como regalo</a></small>
    </div>
  </section>
</div>
