/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
main {
	padding: 0 $pad-half $pad-double $pad-half ;
	overflow: hidden;
	margin: -2.5em  0 0 0;
}
