@charset "UTF-8";
/*------------------------------------*\ $VARIABLES
\*------------------------------------*/
/*------------------------------------*\ $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out); */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
/*------------------------------------*\ $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure { margin: 0; padding: 0; }

header, footer, nav, section, article, hgroup, figure { display: block; }

/*------------------------------------*\ $GLOBAL ELEMENTS
\*------------------------------------*/
/*------------------------------------*\ $GLOBAL CLASSES
\*------------------------------------*/
/* Clearfix */
.cf { *zoom: 1; }

.cf:before, .cf:after { content: " "; /* 1 */ display: table; /* 2 */ }

.cf:after { clear: both; }

/* Completely remove from the flow and screen readers. */
.is-hidden { display: none !important; visibility: hidden !important; }

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden { position: absolute !important; overflow: hidden; width: 1px; height: 1px; padding: 0; border: 0; clip: rect(1px, 1px, 1px, 1px); }

/* Floats */
.right { float: right; padding: 0 0 1em 1em; }

.right-search { float: right; padding: 0 0 1em 0; }

.left { float: left; padding: 0 1em 1em 0; }

/* Text-Align */
.align-right { text-align: right; }

.align-center { text-align: center; }

.align-left { text-align: left; }

/* Display Classes */
@media all and (max-width: 46.8em) { .hide-small { display: none; } }

@media all and (min-width: 46.8em) and (max-width: 50em) { .hide-med { display: none; } }

@media all and (min-width: 50em) { .hide-large { display: none; } }

.valid { color: #089e00; }

.error { color: #f00; }

.warning { color: #fff664; }

.information { color: #000db5; }

body { background: #fff; font: 100%/1.5 "museo-slab", "museo slab", Georgia, Times, "Times New Roman", serif; -webkit-text-size-adjust: 100%; color: #5a5a5a; }

/* Links */
a { color: #610C0D; text-decoration: none; outline: 0; -webkit-transition: color 0.3s ease-in-out; -moz-transition: color 0.3s ease-in-out; -ms-transition: color 0.3s ease-in-out; -o-transition: color 0.3s ease-in-out; transition: color 0.3s ease-in-out; }
a:hover, a:focus { color: #8e1213; }

h1 { font-weight: 100; }

h2 { font-weight: 300; }

h3 { font-weight: 300; }

h4, h5 { font-weight: 300; font-family: "museo-sans", "museo sans", Georgia, Times, "Times New Roman", serif; text-transform: uppercase; }

.page-title { text-align: center; }

.subheading { font-weight: normal; }

/* Text-Related Elements */
p { margin-bottom: 1em; }

article p { font-size: 1.1em; font-weight: 300; }

.fiction p { text-indent: 1.5em; margin-bottom: 0.33333em; }

/* Blockquote */
blockquote { font-style: italic; color: #808080; padding-left: 1.5em; margin-top: 0.5em; margin-bottom: 1em; text-indent: none; }

aside { font-weight: 300; line-height: 1.3; }

/* Horizontal Rule */
hr { border: 0; height: 1px; background: #ddd; margin: 2em 0; }
hr.solid { background: #808080; }

abbr { border-bottom: 1px dotted #808080; cursor: help; font-weight: 600; }

ol, ul { margin: 0; padding: 0; list-style: none; }

/* Definition Lists */
dl { overflow: hidden; margin: 0 0 1em; }

dt { font-weight: 700; }

dd { margin-left: 1em; margin-bottom: .5em; }

/*------------------------------------*\ $MEDIA ELEMENTS
\*------------------------------------*/
/* Flexible Media */
img, video, object { max-width: 100%; height: auto; }

iframe { margin-bottom: 1em; }

figure { margin-bottom: 1em; }
figure img { margin-bottom: 0.5em; }

figcaption { font-style: italic; }

/*------------------------------------*\ $FORMS
\*------------------------------------*/
form ol, form ul { list-style: none; margin-left: 0; }

fieldset { border: 0; padding: 0; margin: 0; }

label { display: block; padding-bottom: 0.5em; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0 1px 0; }

input, textarea { width: 100%; border: 1px solid #8d8d8d; border-radius: 0.25em; padding: 0.5em 0.65rem; }

input[type=text], input[type=search], input[type=url], input[type=number], textarea { -webkit-appearance: none; }

button, input[type="submit"] { padding: 0.5em; background: #333; border: 1px solid #808080; cursor: pointer; }

input[type="checkbox"], input[type="radio"] { width: auto; margin-right: 0.3em; }

input[type="search"] { -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

.field-container { margin-bottom: 1em; }

/* Validation */
.has-error { border-color: #f00; }

.is-valid { border-color: #089e00; }

/*------------------------------------*\ $SPECIFIC FORMS
\*------------------------------------*/
/* Search Form */
.search-field { padding-right: 3em; }

.inline-form .search-submit { background: none; padding: 0.78em 1em; border: 0; border-left: 1px solid #808080; color: #808080; }

/*------------------------------------*\ $Table
\*------------------------------------*/
table { border-collapse: collapse; border-spacing: 0; border: 1px solid #5a5a5a; width: 100%; }

th { text-align: left; border: 1px solid #5a5a5a; padding: 0.2em; }

td { border: 1px solid #5a5a5a; padding: 0.2em; }

.content-note-container { border: 1px solid #610C0D; padding: 1em; }

.content-note { font-weight: 100; border: none; width: auto; margin: 0 auto; }
.content-note h3 { font-weight: 300; }
.content-note td, .content-note th { border: none; }
.content-note .score { text-align: right; color: #8e1213; }

.legend { border: 1px solid #8d8d8d; font-weight: 400; margin: 1.5em auto 2em; }
.legend .score { color: #5a5a5a; }

.brand-color--default { background: #5a5a5a; }

.brand-color--base { background: #5a5a5a; }

.brand-color--highlight { background: #610C0D; }

.brand-color--highlight--focus { background: #8e1213; }

/*------------------------------------*\ $PAGE STRUCTURE
\*------------------------------------*/
.header-logo { position: absolute; top: .5em; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.header-logo svg { position: relative; z-index: 9999; }

/*------------------------------------*\ $NAVIGATION
\*------------------------------------*/
nav ul { display: flex; justify-content: space-around; text-transform: uppercase; text-align: center; }
nav ul li { flex: 1; margin: 0.5em; }

header nav ul { background-color: #610C0D; }
header nav ul #authors, header nav ul #submissions, header nav ul #values { display: none; max-width: 10px; }
header nav ul #books, header nav ul #about { flex: 3; }
header nav ul a { color: #fff; }

@media all and (max-width: 46.8em) { footer nav ul { display: inline; text-align: left; } }

.pagination { overflow: hidden; display: flex; justify-content: center; }
.pagination li { font-weight: 300; }
.pagination a { padding: 0 1em; color: #610C0D; -webkit-transition: background-color 0.3s ease; -moz-transition: background-color 0.3s ease; -ms-transition: background-color 0.3s ease; -o-transition: background-color 0.3s ease; transition: background-color 0.3s ease; }
.pagination a:hover { color: #8e1213; }
.pagination .current { padding: 0 1em; }
.pagination .previous { border-right: 1px solid #dadada; }
.pagination .next { border-left: 1px solid #dadada; }

.sidenav { max-width: 20em; margin: 0 auto; }
.sidenav ul { padding: 0 0 0 1em; }
.sidenav ul a { color: #414141; }
.sidenav ul a:hover { color: #8e1213; }
.sidenav ul li { padding: 0.5em; border-bottom: 1px solid #dadada; -webkit-transition: border-bottom 0.3s ease; -moz-transition: border-bottom 0.3s ease; -ms-transition: border-bottom 0.3s ease; -o-transition: border-bottom 0.3s ease; transition: border-bottom 0.3s ease; }
.sidenav ul li:hover { border-bottom: 1px solid #8e1213; }
@media all and (min-width: 46.8em) { .sidenav ul li { padding: 1em; } }
@media all and (min-width: 46.8em) { .sidenav { max-width: 15em; margin: 0; } }

.back-to-top { text-align: right; }

/*------------------------------------*\ $MAIN CONTENT AREA
\*------------------------------------*/
main { padding: 0; overflow: hidden; margin: 0; }
main > section { margin-top: 6em; }

/*------------------------------------*\ $FOOTER
\*------------------------------------*/
footer { max-width: 45em; margin: 0 auto; padding: 0 0.5em; }
footer .nav { display: flex; flex-direction: column; justify-content: space-around; margin: 6em auto; background-color: #fff; max-height: 40px; overflow: visible; margin-bottom: 6em; }
@media all and (min-width: 39.8em) { footer .nav { flex-direction: row; margin: 0em auto; } }
footer .nav li { flex: 1; text-align: center; margin: 0.5em 0; }
footer .nav a { text-transform: uppercase; font-weight: 500; color: #610C0D; }
footer .nav a:hover { color: #8e1213; }

.company-slug { text-align: center; max-width: 30em; margin: 0 auto 1em; }
.company-slug svg { max-width: 15em; margin-bottom: 1em; }

@media all and (min-width: 39.8em) { .marketing { display: flex; } }
.marketing div { padding: 0 0.5em 0 0; }

#mc_embed_signup { min-width: 320px; max-width: 500px; }

.legal { text-align: center; margin-top: 2em; }

.social { display: flex; justify-content: center; }
.social a { margin: 2em; }

/*------------------------------------*\ $TEXT Styles
\*------------------------------------*/
.intro { text-indent: 0; }

.pullquote { font-family: "museo-sans", "museo sans", Georgia, Times, "Times New Roman", serif; }

.caption { font-style: italic; }

.text a { text-decoration: underline; }
.text ul { list-style: disc; margin: 0 0 1em 1.2em; }
.text ul ul { margin-bottom: 0; }
.text ol { list-style: decimal; margin: 0 0 1em 1.5em; }
.text ol ol { margin-bottom: 0; }

/*------------------------------------*\ $COMPONENTS
\*------------------------------------*/
.icons svg { fill: #5a5a5a; margin-bottom: -.2em; width: 1.4em; height: 1.4em; }
.icons a svg { fill: #610C0D; -webkit-transition: color 0.3s ease-in-out; -moz-transition: color 0.3s ease-in-out; -ms-transition: color 0.3s ease-in-out; -o-transition: color 0.3s ease-in-out; transition: color 0.3s ease-in-out; }
.icons a:hover svg { fill: #8e1213; }

.call-to-action svg { fill: #fff; margin-bottom: -.2em; width: 1.4em; height: 1.4em; }

/*------------------------------------*\ $BUTTONS
\*------------------------------------*/
.btn, input[type="submit"] { display: inline-block; background: #610C0D; color: #fff; line-height: 1; padding: 1em; margin-top: 1em; margin-bottom: 1em; border: 0; border-radius: 0.25em; text-align: center; text-transform: uppercase; font-weight: 300; -webkit-transition: background 0.4s ease-in-out; -moz-transition: background 0.4s ease-in-out; -ms-transition: background 0.4s ease-in-out; -o-transition: background 0.4s ease-in-out; transition: background 0.4s ease-in-out; }
.btn:hover, .btn:focus, input[type="submit"]:hover, input[type="submit"]:focus { background: #8e1213; border: 10px, #8e1213; color: #fff; }
.btn.disabled, input[type="submit"].disabled { background: #eee; color: #808080; }

.btn-small { padding: 0.5em; }

.btn-large { text-transform: uppercase; font-size: 1.4rem; }

.text-btn { font-style: italic; color: #610C0D; -webkit-transition: color 0.4s ease-in-out; -moz-transition: color 0.4s ease-in-out; -ms-transition: color 0.4s ease-in-out; -o-transition: color 0.4s ease-in-out; transition: color 0.4s ease-in-out; }
.text-btn:hover, .text-btn:focus { color: #8e1213; }

.reverse { display: inline-block; background: #fff; color: #610C0D; border: 1px solid #610C0D; }
.reverse:hover, .reverse:focus { background: #8e1213; border: 1px solid #fff; color: #fff; }

.donate { display: inline-block; background: #fff; color: #610C0D; border: none; max-width: 20em; padding: 0; line-height: 0; }
.donate:hover { background: none; }

.entry { max-width: 45em; }
.entry h1 { font-size: 1.4em; line-height: 1.2; font-weight: 300; }
.entry h3 { font-family: "museo-sans", "museo sans", Georgia, Times, "Times New Roman", serif; }
.entry h4 { font-size: .8em; }
.entry p { text-indent: 0; }
.entry.news { margin: 0 auto; padding: 0.5em 5em; }
@media all and (max-width: 46.8em) { .entry.news { padding: 1em; } }
.entry.story { color: #fff; background: #610C0D; border-radius: 0.25em; margin: 1em auto; overflow: hidden; }
.entry.story figure, .entry.story figure img { margin-bottom: -.5em; }
.entry.story div { padding: 2em; }
.entry.story a { color: #fff; }
.entry.story h1 { font-size: 1.8em; line-height: 1.2; font-weight: 100; }

.header-logo + .story { max-width: 100%; margin-top: -6em; }
.header-logo + .story div { max-width: 45em; margin: 0 auto; }

/* about us */
.about-us { margin: 1em auto; max-width: 60em; }
@media all and (min-width: 46.8em) { .about-us { display: flex; } }
.about-us h2 { margin-bottom: 0.5em; }
.about-us h3 { margin-bottom: 0.25em; }
.about-us section { margin-bottom: 1em; }
.about-us .back-to-top { text-align: right; }

.submissions-status { padding: 1em; margin: 1em 0; background: #610C0D; border-radius: 0.25em; color: #fff; }
.submissions-status h1 { font-size: 1.8em; color: #fff; }
.submissions-status a { color: #fff; text-decoration: underline; }

.inline-list li { display: inline-block; }

/* Social List */
.social-list li { margin: 0 0.4rem 1em 0; }
.social-list a { font-size: 1.6em; }

/* Headline List */
.headline-list { margin-bottom: 1em; }
.headline-list.flush { margin: 0; }
.headline-list h4 { font-weight: normal; }
.headline-list li { padding: 0.25em 0; border-top: 1px solid #ddd; }

/* Post List */
.post-list li { margin-bottom: 1em; }

/* Bullet List */
.bullet-list { list-style: square; margin: 0 0 1em 1.2em; line-height: 1.3; }
.bullet-list li { margin-bottom: 1em; }

/* Text List */
.text-list { margin: 0 0 1em; line-height: 1.3; }
.text-list li { margin-bottom: 1em; }

/* Book List */
.bookshelf { display: flex; justify-content: flex-start; flex-wrap: wrap; }
.bookshelf div { max-width: 12em; padding: 0.5em; }

.tooltip-container { display: inline-block; position: relative; }
.tooltip-container:hover .tooltip { display: block; }

.tooltip-link { background: #f9f9f9; }

.tooltip { display: none; position: absolute; top: 1.5em; left: 0; width: 18em; padding: 1em; background: #fff; border: 1px solid #808080; box-shadow: 0.3em 0.3em 1em 0 rgba(0, 0, 0, 0.2); }
.tooltip h2 { margin-top: 0; }
@media all and (min-width: 24em) { .tooltip { width: 22em; } }
@media all and (min-width: 29.75em) { .tooltip { width: 27em; } }
@media all and (min-width: 39.8em) { .tooltip { width: 30em; } }

.tabs { overflow: hidden; }
.tabs ul { display: table; width: 100%; }
.tabs li { display: table-cell; text-align: center; border-right: 1px solid #ddd; }
.tabs li:last-child { border-right: 0; }
.tabs a { display: block; padding: 0.5em; background: #808080; }
.tabs a:hover, .tabs a:focus { background: #ddd; }
.tabs a.active { background: #333; color: #fff; }

.section-title { margin-bottom: 0.5em; }

article { max-width: 42em; margin: 0 auto; padding: 0.5em; }
article hr { background: none; text-align: center; margin: 2em 0 4em 0; }
article hr:after { content: '• • •'; }
article h4 { margin-top: 6em; }
article h4 + p { font-family: "museo-sans", "museo sans", Georgia, Times, "Times New Roman", serif; font-size: 1em; }

.story-header { text-align: center; }

.story-header h1, .post-header h1 { font-size: 2.5em; line-height: 1.2em; margin-bottom: 0.25em; }
.story-header p, .post-header p { text-indent: 0; }

.story-illustration { position: relative; z-index: 0; margin: -6em 0 0 0; }
.story-illustration img { width: 100%; }

.byline { font-size: 1.4375em; font-weight: 300; margin: 0.5em; }

.illustrator { font-size: 1em; margin: 0.5em 0 2em; }

.social-share { overflow: hidden; margin-bottom: 1em; }
.social-share li { float: left; margin-right: 0.5em; }
.social-share a { background: #333; color: #fff; display: block; padding: 0.5em; }
.social-share a:hover { background: #808080; }
