//Article
article {
	max-width: 42em;
	margin: 0 auto;
	padding: $pad-half;
	h4 {
		margin-top: 6em;
		text-indent: 0;
		& + p {
			font-family: $font-secondary;
			font-size: 1em;
			text-indent: 0;
		}
	}
}


.fiction {
	hr {
		background: none;
		border: 0;
		text-align: center;
		text-indent: 0;
		margin: $space-double 0 $space-quad 0;
		&:after {
			content: '• • •';
		}
	}
	.content p:first-child {
		text-indent: 0;
	}
	img {
		text-indent: 0;
	}
}

.nonfiction {
	hr {
		background: none;
		border: 0;
		text-align: center;
		text-indent: 0;
		margin: $space-double 0 $space-quad 0;
		&:after {
			content: '—';
		}
	}
}

main > section {
	margin-top: 7em;
}

.story-header {
	text-align: center;
	text-indent: 0;
}

.story-header {
	h1 {
		font-size: 2.5em;
		line-height: 1.2em;
		margin-bottom: $space-quarter;
	}
	h2 {
		margin-top: $space-half;
	}
	p, h2, blockquote p {
		font-family: $font-secondary;
		text-indent: 0;
	}
}

.post-header {
	h1 {
		font-size: 2.5em;
		line-height: 1.2em;
		margin-bottom: 0;
	}
	h2 {
		margin: $space-quarter 0 $space 0;
	}
	p, h2, blockquote p {
		font-family: $font-secondary;
		text-indent: 0;
	}
}

.book-info {
		display: grid;
		grid-template-columns: 100%;
		@media all and (min-width: 690px) {
			grid-template-columns: 30% 70%;
		}
		figure {
			z-index: 999999;
			margin: -25% auto 40px;
			max-width: 250px;
			@media all and (min-width: 690px) {
				margin-top: -60%;
				margin-right: 1em;
			}
		}
}

.story-illustration {
	position: relative;
	z-index: 0;
	margin: -7em 0 0 0;
	img {
		width: 100%;
	}
}

.book-illustration {
	position: relative;
	z-index: 0;
	margin: -7em 0 0 0;
	max-height: 200px;
	overflow: hidden;
	background: darken($color__fireside-red, 50%);
	img {
		width: 100%;
		margin: -200px 0 0 0;
		opacity: .3;
	}
}

.story-body {
	h1, h2, h3, h5, h6 {
		text-indent: 0;
		margin-top: 1em;
	}
	p {
		margin-bottom: 0;
	}
}

.byline {
	font-size: $font-size-large;
	font-weight: 300;
	margin: $space-half;
}

.illustrator {
	font-size: $font-size-med;
	margin: $space-half 0 $space-double;
}

//Social Share
.social-share {
	overflow: hidden;
	margin-bottom: $space;

	li {
		float: left;
		margin-right: $space-half;
	}

	a {
		background: $gray-dark;
		color: $white;
		display: block;
		padding: $pad-half;

		&:hover {
			background: $gray;
		}
	}
}

.four-oh-four {
	text-align: center;
	svg {
		margin: $space*2;
	}
}

.thunderstorm {
  font-family: 'bagatela';
  font-size: 1em;
  animation: colorchange 10s infinite;
  -webkit-animation: colorchange 10s infinite;
  @media all and (min-width: 500px) {
    font-size: 1.4em;
  }
  @media all and (min-width: 600px) {
    font-size: 1.6em;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
  }
  .home {
    height: 10px;
    width: 100%;
    background-color: $color__fireside-red;
    animation: opacity 2s 1;
    -webkit-animation: opacity 2s 1;
  }
  h1, p {
    animation: opacity-delayed 8s 1;
    -webkit-animation: opacity-delayed 8s 1;
  }
  figure {
    animation: opacity-delayed 10s 1;
    -webkit-animation: opacity-delayed 10s 1;
  }
  h1 {
    font-family: 'herencia';
    font-size: 3em;
    line-height: 1em;
    text-align: center;
  }
  .header {
    margin-top: 1em;
    display: flex;
    flex-direction: column-reverse;
    figure {
      margin-top: -4em;
      margin-bottom: 0;
    }
  }
  .stanza {
    padding: 1em;
    z-index: 9999999;
    white-space: nowrap;
  }
  .bylines p {
    text-align: center;
    @media all and (min-width: 500px) {
      font-size: .7em;
    }
  }
  .drops {
    figure {
      width: 50%;
      margin: -1em auto 0;
    }
  }
  .heart {
    margin-top: -4em;
    margin-bottom: -6em;
  }
  .arabic-text {
    padding: 1.2em .5em;
    font-weight: 500;
  }
  .raaed {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/raaed-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/raaed.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .aasfi {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/aasfi-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/aasfi.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .ghaymi {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/ghaymi-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/ghaymi.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .aaskar {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/aaskar-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/aaskar.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .hammam {
    background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/hammam-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: $fade;
    &:hover {
      background: url("/illustration/thunderstorm-in-glasgow-july-25-2013/hammam.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      color: rgba(0,0,0,0);
    }
  }
  .credits {
    font-family: $font-secondary;
    font-size: $font-size-small-2;
    border-top: 1px solid $gray-light-3;
    padding: 2em 1em;
    color: $color__dark-grey;
  }
  .fireside-badge {
    opacity: .3;
    text-align: center;
    margin: 1em;
  }
  @keyframes colorchange
  {
    0%   {color: #8f0223;}
    25%  {color: #77518e;}
    50%  {color: #363d50;}
    75%  {color: #1a4335;}
    100% {color: #8f0223;}
  }

  @-webkit-keyframes colorchange
  {
    0%   {color: #8f0223;}
    25%  {color: #77518e;}
    50%  {color: #363d50;}
    75%  {color: #1a4335;}
    100% {color: #8f0223;}
  }
  @keyframes opacity
  {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes opacity
  {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes opacity-delayed
  {
    0%   {opacity: 0;}
    10%  {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes opacity-delayed
  {
    0%   {opacity: 0;}
    10%  {opacity: 0;}
    100% {opacity: 1;}
  }
  .grid-1 {
    display: grid;
    grid-template-areas: "byline byline byline heart heart"
                         "drops drops drops heart heart"
                         "stanza-1 stanza-1 stanza-1 heart heart";
  }
  .grid-2 {
    display: grid;
    grid-template-areas: "stanza-3 stanza-3 stanza-3 stone stone"
                         "stanza-4 stanza-4 stanza-4 stone stone";
  }
  .bylines {
    grid-area: byline;
    @media all and (min-width: 768px) {
      margin-bottom: -2em
    }
  }
  .drops {
    grid-area: drops;
    @media all and (min-width: 768px) {
      margin-top: -5em
    }
  }
  #stanza-1 {
    grid-area: stanza-1;
    white-space: nowrap;
    @media all and (min-width: 768px) {
      margin-right: -5em;
      margin-top: -12em
    }
  }
  .heart {
    grid-area: heart;
    @media all and (min-width: 768px) {
      width: 400%;
      margin: 0 0 0 -140%;
    }
  }
  #stanza-2 {
    @media all and (min-width: 768px) {
      margin-top: -7em
    }
  }
  p.stz-1-1 {
    margin-left: 2em;
  }
  .stone {
    grid-area: stone;
    @media all and (min-width: 768px) {
      width: 400%;
      margin: 7em 0 0 -14em;
    }
  }
  #stanza-3 {
    grid-area: stanza-3;
  }
  #stanza-4 {
    grid-area: stanza-4;
    @media all and (min-width: 768px) {
      margin-top: 8em;
    }
  }
}
