//Article
article {
	max-width: 42em;
	margin: 0 auto;
	padding: $pad-half;
	h4 {
		margin-top: 6em;
		& + p {
			font-family: $font-secondary;
			font-size: 1em;
		}
	}
}

.fiction {
	hr {
		background: none;
		text-align: center;
		margin: $space-double 0 $space-quad 0;
		&:after {
			content: '• • •';
		}
	}
}

main > section {
	margin-top: 7em;
}

.story-header {
	text-align: center;
}

.story-header, .post-header {
	h1 {
		font-size: 2.5em;
		line-height: 1.2em;
		margin-bottom: $space-quarter;
	}
	p {
		text-indent: 0;
	}
}

.story-illustration {
	position: relative;
	z-index: 0;
	margin: -6.97em 0 0 0;
	img {
		width: 100%;
	}
}

.byline {
	font-size: $font-size-large;
	font-weight: 300;
	margin: $space-half;
}

.illustrator {
	font-size: $font-size-med;
	margin: $space-half 0 $space-double;
}

//Social Share
.social-share {
	overflow: hidden;
	margin-bottom: $space;

	li {
		float: left;
		margin-right: $space-half;
	}

	a {
		background: $gray-dark;
		color: $white;
		display: block;
		padding: $pad-half;

		&:hover {
			background: $gray;
		}
	}
}
