/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn, input[type="submit"] {
	display: inline-block;
	background: $color__highlight;
	color: $white;
	line-height: 1;
	padding: $pad;
	margin-top: $space;
	margin-bottom: $space;
	border: 0;
	border-radius: $border-radius;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 300;
	@include transition(background, 0.4s, ease-in-out);

	&:hover, &:focus {
		background: $color__highlight--focus;
		border: 10px, $color__highlight--focus;
		color: $white;
	}

	&.disabled {
		background: $gray-light-3;
		color: $gray;
	}
	a {
		text-decoration: none;
	}
}

.patreon-btn {
	padding: $pad $pad*2 $pad*1.3;
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	text-transform: uppercase;
	font-size: 1.4rem;
}


.text-btn {
	font-style: italic;
	color: $color__highlight;
	@include transition(color, 0.4s, ease-in-out);

	&:hover, &:focus {
		color: $color__highlight--focus;
	}
}

.reverse {
	display: inline-block;
	background: $white;
	color: $color__highlight;
	border: 1px solid $color__highlight;
	&:hover, &:focus {
		background: $color__highlight--focus;
		border: 1px solid $white;
		color: $white;
	}
}

.donate {
	display: inline-block;
	background: $white;
	color: $color__highlight;
	border: none;
	max-width: 20em;
	padding: 0;
	line-height: 0;
	&:hover {
		background: none;
	}
}

// Buy Books Button

// These are the styles for the Buy Button, when the drop down is hidden (default state).
 label.buy {
  border-radius: $border-radius;
  padding: $pad/2 $pad;
  cursor: pointer;
  max-width: 250px; // TODO: Make this a variable for the same max-width as a book img
	background-color: $color__highlight;
	color: white;
  &:after {
		content: url(/images/ui/expand-more.svg);
		float: right;
	}
	&:hover {
		background-color: $color__highlight--focus;
	}
}

// These are the styles for the Buy Button, when the drop down is showing.
 .toggle:checked ~ label.buy {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 99999;
	&:after {
		content: url(/images/ui/close.svg);
		float: right;
	}
 }

// These are the styles for the drop down when it's visible.
.toggled ul {
 position: absolute;
 margin: 0;
 padding: $pad/2 0;
 list-style: none;
 background-color: $color__highlight;
 color: white;
 border-bottom-left-radius: $border-radius;
 border-bottom-right-radius: $border-radius;
 z-index: 99998;
 min-width: 250px;
 @media all and (min-width: 690px) {
	 min-width: 181px;
 }
 a {
	 color: white;
 }
 li {
	 font-family: $font-secondary;
	 font-weight: 100;
	 padding: $pad/2 $pad;
	 &:hover {
		 background-color:  $color__highlight--focus;
	 }
 }
}

// These are the styles for the drop down, when it is hidden (default state).
.toggle, .toggle:not(:checked) ~ .toggled {
 border: 0;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}
