/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
//Footer
footer {
	max-width: 45em;
	margin: 0 auto;
	padding: 0 $pad-half;
	.nav {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin: 6em auto;
		background-color: $white;
		max-height: 40px;
		overflow: visible;
		margin-bottom: 6em;
		@media all and (min-width: $bp-small-3) {
			flex-direction: row;
			margin: 0em auto;
		}
		li {
			flex: 1;
			text-align: center;
			margin: $pad-half 0;
		}

		a {
			text-transform: uppercase;
			font-weight: 500;
			color: $color__highlight;
			&:hover {
				color: $color__highlight--focus;
			}
		}

		&.active {
		}

		@media all and (min-width: $bp-med) {

			li {
			}

			a {
			}

		}
	}
}

.company-slug {
	text-align: center;
	max-width: 30em;
	margin: 0 auto 1em;
	svg {
		max-width: 15em;
		margin-bottom: 1em;
	}
}

.marketing {
	@media all and (min-width: $bp-small-3) {
		display: flex;
	}
	div {
		padding: 0 $pad-half 0 0 ;
	}
}

#mc_embed_signup {
	min-width: 320px;
	max-width: 500px;
}

.legal {
	// text-align: center;
	//font-size: $font-size-small;
	margin-top: $space-double;
	padding-bottom: $space*4;
}

.social {
	display: flex;
	justify-content: center;
	a {
		margin: $space-double;
	}
}
