.icons {
	svg {
		fill: $color__default;
		margin-bottom: -.2em;
		width: 1.4em;
		height: 1.4em;
	}
	a {
		svg {
			fill: $color__highlight;
			@include transition(color,0.3s,ease-in-out);
		}
		&:hover {
			svg {
				fill: $color__highlight--focus;
			}
		}
	}
}

.call-to-action {
	svg {
		fill: $white;
		margin-bottom: -.2em;
		width: 1.4em;
		height: 1.4em;
	}
}
