ol, ul {
	margin: 0 0 $space 0;
	padding: 0;
	list-style: none;
}

.about-us, article {
	ul {
		list-style: disc;
		margin-left: $space;
		text-indent: 0;
	}
}

.sidenav {
	ul {
		list-style: none;
	}
}

.authors {
	p {
		font-size: 1em;
		margin: 0;
	}
	h3 {
		margin-top: 1em;
	}

}

.alphanav {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 1em;
	background-color: white;
	border-top: 1px solid lighten($color__base--light, 30%);
	ul {
	 margin: 0;
	 list-style: none;
	 display: flex;
	 justify-content: space-between;
	 flex-wrap: wrap;
	 li {
		 margin: $space/2;
		 font-size: .7em;
		 font-weight: 300;
	   font-family: $font-secondary;
	   text-transform: uppercase;
	 }
	 a {
		 text-decoration: none;
	 }
 }
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: 700;
}

dd {
	margin-left: 1em;
	margin-bottom: .5em;
}

.inline-list {
	li {
		display: inline-block;
	}
}

/* Social List */
.social-list {
	li {
		margin: 0 0.4rem $space 0;
	}

	a {
		font-size: 1.6em;
	}
}


/* Book List */
.bookshelf {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	div {
		max-width: 12em;
		padding: $pad/2;
	}
}

.issue-bookshelf {
	display: flex;
	border-bottom: 1px solid $gray;
	flex-direction: column;
	justify-content: space-between;
	div {
		padding: $pad/2;
		font-size: .8em;
		img {
			min-width: 8em;
			max-width: 8em;
			border: 1px solid $color__fireside-red;
		}
	}
	.issue-book {
		display: flex;
		margin-bottom: 1em;
		border-bottom: 1px solid $color__dark-grey;
		.metadata {
			flex-grow: 5;
		}
		.button {
			min-width: 17em;
			flex-grow: 1;
		}
	}
	&:last-of-type {
		border-bottom: none;
	}
	p {
		margin-bottom: $space/4;
	}
}
