ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: 700;
}

dd {
	margin-left: 1em;
	margin-bottom: .5em;
}