.header-logo {
	position: absolute;
	top: .5em;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	svg {
		position: relative;
		z-index: 9999;
	}
	h1 {
		visibility: hidden;
		display: none;
	}
}

.company-slug {
	h2 {
		visibility: hidden;
		display: none;
	}
	svg g {
		fill: $color__main-site;
		&#Group-2 {
			fill: #ffffff;
		}
	}
}
