.call-to-action {
	font-family: $font-secondary;
}
.back-issues-for-sale {
	//max-width: 90%;
	margin: 0 auto;
	font-family: $font-secondary;
	.single-back-issue {
		border-bottom: 1px solid lighten($color__base--light, 30%);
		padding-top: 1em;
		display: flex;
		&:last-child {
			border: none;
		}
		figure {
			flex-basis: 40%;
			margin: 0 1em 0 0;
		}
		div {
			flex-basis: 50%;
		}
	}
}
