.brand-color--default {
	background: $color__default;
}

.brand-color--base {
	background: $color__base;
}

.brand-color--highlight {
	background: $color__highlight;
}

.brand-color--highlight--focus {
	background: $color__highlight--focus;
}