/* Text-Related Elements */
h1   {
	font-weight: 100;
}

h2    {
	font-weight: 300;
	line-height: $space*1.25;
	//margin-bottom: $space/2; This affects the spacing above the byline on the homepage 
}

h3   {
	font-weight: 300;
}

h4, h5, .category   {
	font-weight: 300;
	font-family: $font-secondary;
	text-transform: uppercase;
}

.category {
	font-size: .8em;
	margin: 0;
}

h6    {

}

.page-title {
	text-align: center;
	margin-bottom: $space/2;
}

.subheading {
	font-weight: normal;
}

p {
	margin-bottom: $space;
}

article {
  p {
		font-size: 1.2em;
		font-weight: 300
  }
}

.fiction {
	text-indent: $space*1.5;
	margin-bottom: $space/3;
}

/* Blockquote */
blockquote {
  font-style:italic;
  color: $gray;
	padding-left: $pad*1.5;
	margin-top: $space/2;
  margin-bottom: $space;
  text-indent: none;
}

.about-us blockquote:first-of-type {
	font-size: $font-size-large;
	color: $color__fireside-red;
	padding-left: $pad*1;
}

.about-us h3 {
	font-weight: 700;
}
aside {
  //font-size: $font-size-large;
  font-weight: 300;
  line-height: 1.3;
}

/* Horizontal Rule */
hr {
	border: 0;
  height: 1px;
  background: $gray-light-3;
  margin: $space-double 0;
  &.solid {
      background: $gray;
  }
}

//Intro text
.intro {
	//font-size: $font-size-med-2;
	text-indent: 0;
}

//Pullquote
.pullquote {
	font-family: $font-secondary;
	//font-size: $font-size-large;
}

//Caption
.caption {
	font-style: italic;
}

//Passages of text
.text {
	a {
		text-decoration: underline;
	}

	ul {
		list-style: disc;
		margin: 0 0 $space 1.2em;

		ul {
			margin-bottom: 0;
		}
	}

	ol {
		list-style: decimal;
		margin: 0 0 $space 1.5em;

		ol {
			margin-bottom: 0;
		}
	}
}

.bookshelf {
	font-size: 1em;
	line-height: 1.2em;
	font-weight: 300;
	a {
		display: block;
		font-weight: 400;
	}
}

.book-content {
	h3 {
		font-size: 1.8em;
	}
}

.book-info {
	@media all and (max-width: 690px) {
		h1, h2, h3 {
			text-align: center;
		}
	}
}

.post-content {
	h1 {
		font-size: 2em;
	}
}

.bigfoot-footnote {
	p {
		font-size: $font-size-small;
	}
}
.footnotes {
	font-size: $font-size-small;
	li {
		margin-top: $space-double;
	}
}
