---
layout: default
---
{% if page.art %}
  <figure class="story-illustration">
    <img class="" src="{{ /illustration/{{ page.art }} | relative_url }}" alt="{{ page.caption }}">
  </figure>
{% endif %}
{% include story-logo.html %}
<article>
  <header class="post-header">
    <h4>{{ page.date | date: "%b %-d, %Y" }} | {{ page.category }}</h4>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p>{% if page.author %}By <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div>
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
