---
layout: default
---

<article>

  <header class="post-header">
    <p class="category">{{ page.date | date: "%b %-d, %Y" }} | {{ page.category }}</p>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.author %}<h2>By <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></h2>{% endif %}
    <p>{% if page.editor %}Edited by {{ page.editor }}</p>{% endif %}
  </header>

  <div>
    {{ content }}
    <div class="call-to-action blackspecfic">
      <h2>Help us keep this conversation going</h2>
      <p>We spend around $1,700 paying the various people involved in producing the #BlackSpecFic report and its accompanying essays every year. This type of work is a core part of our mission, and it is only possible due to your direct support.</p>
      <p>You can make a one-time contribution directly to our #BlackSpecFic fund, or back us morea broadly by becoming a Fireside subscriber. Either way, your cash will go toward helping us ensure a bright future for a thriving, sustainable, and inclusive field.</p>
      <div>
        <a href="#subscribe" class="btn patreon-btn">Subscribe to Fireside</a>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="H8QG4XN26D2Z6">
          <input type="submit" class="btn patreon-btn" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" value="Contribute to #BlackSpecFic" alt="Contribute to #BlackSpecFic">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </div>
</article>
