---
layout: default
---
{% include books-logo.html %}

    <article class="post-content">
      <div>
        <img src="{{ site.baseurl }}/images/{{ page.cover }}" alt="Cover image for {{ page.title }}">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.author }}</h3>
        <p>{{ page.description }}</p>
        {% if page.amazon %}
          <a href="{{ post.amazon }}">Buy on Amazon</a>
        {% endif %}
        {% if page.ibooks %}
          <a href="{{ post.ibooks }}">Buy on iBooks</a>
        {% endif %}
        {% if page.kobo %}
          <a href="{{ post.kobo }}">Buy on Kobo</a>
        {% endif %}
        {% if page.nook %}
          <a href="{{ post.nook }}">Buy on Nook</a>
        {% endif %}
        {% if page.goodreads %}
          <a href="{{ post.goodreads }}">Add to Goodreads</a>
        {% endif %}
      </div>
      {{ content }}
    </article>
