---
layout: default
---
{% include books-logo.html %}

    <article class="post-content">
      {{ content }}
      <section class="bookshelf">
        <div>
          <img src="{{ site.baseurl }}/images/the-forever-endeavor-cover-image.png" alt="Cover image for The Forever Endeavor">
          <h2>The Forever Endeavor</h2>
          <h3>Chuck Wendig</h3>
          <p>Brief Description</p>
          <a href="https://www.amazon.com/Forever-Endeavor-Chuck-Wendig-ebook/dp/B01LZITXTZ/ref=sr_1_1?ie=UTF8&qid=1484337294&sr=8-1&keywords=the+forever+endeavor">Buy on Amazon</a><br/>
          <a href="https://www.goodreads.com/book/show/32147793-the-forever-endeavor?from_search=true">Add to Goodreads</a>
        </div>
        <div>
          <img src="{{ site.baseurl }}/images/the-shattered-ones-cover-image.jpg" alt="Cover image for The Shattered Ones, Vol. 1">
          <h2>The Shattered Ones, Vol. 1</h2>
          <h3>Minerva Zimmerman</h3>
          <p>Brief Description</p>
          <a href="https://www.amazon.com/Shattered-Ones-Vol-Summer-Running/dp/098610406X/">Buy on Amazon</a><br/>
          <a href="https://www.goodreads.com/book/show/30649175-the-shattered-ones-vol-1">Add to Goodreads</a>
        </div>
        <div>
          <img src="{{ site.baseurl }}/images/take-on-me-cover-image.jpg" alt="Cover image for Take on Me">
          <h2>Take on Me</h2>
          <h3>Minerva Zimmerman</h3>
          <p>Brief Description</p>
          <a href="http://www.amazon.com/gp/product/B011ZHW130/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B011ZHW130&linkCode=as2&tag=firesidemagaz-20&linkId=JJKKGNVCPJQRXUFW">Buy on Amazon</a><br/>
          <a href="https://itunes.apple.com/us/book/take-on-me/id1021080810">Buy on iBooks</a><br/>
          <a href="https://store.kobobooks.com/en-US/ebook/take-on-me-4">Buy on Kobo</a><br/>
          <a href="http://www.barnesandnoble.com/w/take-on-me-minerva-zimmerman/1122747024">Buy on Nook</a><br/>
          <a href="https://www.goodreads.com/book/show/25974331-take-on-me">Add to Goodreads</a>
        </div>
        <div>
          <img src="{{ site.baseurl }}/images/cruel-summer-cover-image.jpg" alt="Cover image for Cruel Summer">
          <h2>Cruel Summer</h2>
          <h3>Minerva Zimmerman</h3>
          <p>Brief Description</p>
          <a href="http://www.amazon.com/gp/product/B01678SWS0/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01678SWS0&linkCode=as2&tag=firesidemagaz-20&linkId=LCA7TKTRAYTAGTEC">Buy on Amazon</a><br/>
          <a href="https://itunes.apple.com/us/book/cruel-summer/id1046587210?ls=1&mt=11">Buy on iBooks</a><br/>
          <a href="https://store.kobobooks.com/en-us/ebook/cruel-summer-5">Buy on Kobo</a><br/>
          <a href="http://www.barnesandnoble.com/w/cruel-summer-minerva-zimmerman/1123127833">Buy on Nook</a><br/>
          <a href="https://www.goodreads.com/book/show/26866213-cruel-summer">Add to Goodreads</a>
        </div>
        <div>
          <img src="{{ site.baseurl }}/images/running-down-a-dream-cover-image.jpg" alt="Cover image for Running Down a Dream">
          <h2>Running Down a Dream</h2>
          <h3>Minerva Zimmerman</h3>
          <p>Brief Description</p>
          <a href="http://www.amazon.com/Running-Down-Dream-Shattered-Ones-ebook/dp/B019DLSNK0/">Buy on Amazon</a><br/>
          <a href="https://itunes.apple.com/us/book/id1068069228">Buy on iBooks</a><br/>
          <a href="https://store.kobobooks.com/en-us/ebook/running-down-a-dream">Buy on Kobo</a><br/>
          <a href="http://www.barnesandnoble.com/w/running-down-a-dream-minerva-zimmerman/1123494110">Buy on Nook</a><br/>
          <a href="https://www.goodreads.com/book/show/28217009-running-down-a-dream">Add to Goodreads</a>
        </div>
        <div>
          <img src="{{ site.baseurl }}/images/revision-cover-image.jpg" alt="Cover image for Revision">
          <h2>Revision</h2>
          <h3>Andrea Phillips</h3>
          <p>Brief Description</p>
          <a href="http://www.amazon.com/gp/product/B00T6BDGIC/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00T6BDGIC&linkCode=as2&tag=firesidemagaz-20&linkId=JCTSENCFOCWBXOTY">Buy on Amazon</a><br/>
          <a href="https://itunes.apple.com/us/book/revision/id988485659">Buy on iBooks</a><br/>
          <a href="https://store.kobobooks.com/en-US/ebook/revision-3">Buy on Kobo</a><br/>
          <a href="http://www.barnesandnoble.com/w/revision-andrea-phillips/1121811625?ean=2940151589703&itm=1&usri=2940151589703">Buy on Nook</a><br/>
          <a href="https://www.goodreads.com/book/show/25353534-revision?from_search=true">Add to Goodreads</a>
        </div>

      </section>
    </article>
