---
layout: default
---
{% if page.cover %}
  <figure class="book-illustration">
    <img src="/images/book-covers/{{ page.cover }}" alt="{{ page.caption }}">
  </figure>
{% endif %}

    <article>
      {% if page.cover %}
        <header class="post-header book-info">
          <figure class="book">
            <img src="/images/book-covers/{{ page.cover }}" alt="Cover image for {{ page.title }}">
            <input type="checkbox" class="toggle" id="{{ page.title }}" />

            <!-- Label from which the `for` attribute should match the one from the checkbox toggle. -->
            <label class="buy text__button" for="{{ page.title }}">Buy this book</label>

            <!-- Content meant to be collapsed/expanded depending on the state of the checkbox. -->
            <div class="toggled text__button">
              <ul>
                  {% if page.fireside %}<a href="{{ page.fireside }}"><li>The Fireside Shop</li></a>{% endif %}
                  {% if page.amazon %}<a href="{{ page.amazon }}"><li>Amazon (Paperback and Kindle)</li></a>{% endif %}
                  {% if page.ibooks %}<a href="{{ page.ibooks }}"><li>Apple Books</li></a>{% endif %}
                  {% if page.nook %}<a href="{{ page.nook }}"><li>B&N (Paperback and Nook)</li></a>{% endif %}
                  {% if page.kobo %}<a href="{{ page.kobo }}"><li>Kobo</li></a>{% endif %}
                  {% if page.goodreads %}<a href="{{ page.goodreads }}"><li>View on Goodreads</li></a>{% endif %}
                </ul>
            </div>
          </figure>
          {% else %}
          <header class="post-header">
          {% endif %}
          <div>
            <h1>{{ page.title }}</h1>
            <h3>A {{ page.length }}{% if page.serial-parts %} in {{ page.serial-parts }} parts{% endif %}</h3>
            <h2>by {{ page.author }}</h2>
          </div>
        </header>
        <section class="book-content">
        {{ content }}
      </section>
    </article>
