---
layout: default
---
{% include books-logo.html %}

    <article class="post-content">
      {{ content }}
      <section class="bookshelf">
        {% for post in site.posts %}
          {% if post.category == "book" %}
            <div>
              <a href="{{ site.url }}/{{ post.permalink }}">
                <img src="{{ "/images/book-covers/{{ post.cover }}" | relative_url }}" alt="Cover image for {{ post.title }}">
                <h2>{{ post.title }}</h2>
              </a>
              <h3>by {{ post.author }}</h3>
            </div>
          {% endif %}
        {% endfor %}
      </section>
    </article>
