---
layout: default
---
{% include books-logo.html %}

    <article>
        <header class="story-header">
          <h1>{{ page.title }}</h1>
          <h2>a {{ page.length }} by {{ page.author }}</h2>
        </header>
        <section class="book-header">
          <figure>
            <img src="/images/book-covers/{{ page.cover }}" alt="Cover image for {{ page.title }}">
          </figure>
          <div class="book-metadata">
            <ul>
              {% if page.printbook %}
                <a href="{{ page.printbook }}"><li class="btn">
                Buy in Paperback</li></a>
              {% endif %}
              {% if page.amazon %}
                <a href="{{ page.amazon }}"><li class="btn">
                Buy on Kindle</li></a>
              {% endif %}
              {% if page.ibooks %}
                <a href="{{ page.ibooks }}"><li class="btn">
                Buy on iBooks</li></a>
              {% endif %}
              {% if page.kobo %}
                <a href="{{ page.kobo }}"><li class="btn">
                Buy on Kobo</li></a>
              {% endif %}
              {% if page.nook %}
                <a href="{{ page.nook }}"><li class="btn">
                Buy on Nook</li></a>
              {% endif %}
              {% if page.goodreads %}
                <a href="{{ page.goodreads }}"><li class="btn">
                Add to Goodreads</li></a>
              {% endif %}
            </ul>
          </div>
        </section>
        <section class="book-content">
        {{ content }}
      </section>
    </article>
