<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <header role="banner" id="top-of-page">
      {% include navigation.html %}
    </header>
    <main aria-label="Content">
      <!-- include quarterly-showcase.html -->
      <section>
        {{ content }}
      </section>
    </main>

    <footer>
      <hr/>
      {% include company-slug.html %}
      {% include navigation-extended.html %}
      {% include social-media-icons.html %}
      <hr/>
      {% include marketing.html %}
      <hr/>
      {% include quarterly-call-to-action.html %}
      <hr/>
      {% include legal.html %}
    </footer>

    {% include small-navigation.html %}

  </body>

  {% include google-analytics.html %}

</html>
