<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <header role="banner" id="top-of-page">
      {% if page.spanish-language %}
        {% include navigation-sp.html %}
      {% else %}
        {% include navigation.html %}
      {% endif %}
    </header>

    <main aria-label="Content">
      <section>
        {{ content }}
      </section>
    </main>

    {% if page.spanish-language %}
    <footer>
      <hr/>
      {% include company-slug-sp.html %}
      {% include navigation-extended-sp.html %}
      {% include social-media-icons-sp.html %}
      <hr/>
      {% include marketing-sp.html %}
      <hr/>
      {% include quarterly-call-to-action-sp.html %}
      <hr/>
      {% include legal.html %}
    </footer>

    {% include small-navigation-sp.html %}

    {% else %}

    <footer>
      <hr/>
      {% include company-slug.html %}
      {% include navigation-extended.html %}
      {% include social-media-icons.html %}
      <hr/>
      {% include marketing.html %}
      <hr/>
      {% include quarterly-call-to-action.html %}
      <hr/>
      {% include legal.html %}
    </footer>

    {% include small-navigation.html %}
    {% endif %}

  </body>

  {% include google-analytics.html %}

</html>
