---
layout: default-home
---
{% include magazine-logo.html %}

  {{ content }}

    {% for post in paginator.posts %}
      {% if post.category == "short story" or post.category == "flash fiction" or post.category == "comic" %}
        <div class="entry story">
          {% if post.art %}
            <a href="{{ post.url | relative_url }}">
              <figure>
                <img class="" src="/illustration/{{ post.art }}" alt="{{ post.caption }}">
              </figure>
            </a>
          {% endif %}
          <div>
            <p class="category">{{ post.category }}</p>
            <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
            <h3>by {{ post.author }}</h3>
            <p>{{ post.teaser }}</p>
          </div>
        </div>
      {% endif %}

      {% if post.category == "serial" %}
        <div class="entry story">
          {% if post.art %}
            <a href="{{ post.url | relative_url }}">
              <figure>
                <img class="" src="/illustration/{{ post.art }}" alt="{{ post.caption }}">
              </figure>
            </a>
          {% endif %}
          <div>
            <p class="category">{{ post.category }}: {{ post.serial-name }}, Chapter {{ post.part }}</p>
            <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
            <h3>by {{ post.author }}</h3>
            <p>{{ post.teaser }}</p>
          </div>
        </div>
      {% endif %}

      {% if post.category == "news" or post.category == "announcement" or post.category == "essay" %}
      <div class="entry news">
        <p class="category">{{ post.date | date: "%b %-d, %Y" }} | {{ post.category }}</p>
        <h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
        <h3>by {{ post.author }}</h3>
        <p>{{ post.teaser }}</p>
      </div>
      {% endif %}
    {% endfor %}

    {% include pagination.html %}
