---
layout: default
---

<div class="home-magazine">
  <h1>{{ page.title }}</h1>

  {{ content }}

  {% assign items_grouped = site.posts | group_by: 'issue' %}
    {% for group in items_grouped %}
    {% for item in group.items limit: 1 %}
    {% if item.issue %}
      <h2>Issue {{group.name}}</h2>
      <div class="issue-container">
        {% for item in group.items limit: 1 %}
        <div class="ebook-showcase">
          {% if item.issue-cover %}
          <figure>
            <img class="" src="/images/issue-covers/{{ item.issue-cover }}" alt="ebook cover">
          </figure>
          {% endif %}
        </div>
        {% endfor %}
        <div class="issue-contents">
          {% for item in group.items %}
            {% if item.category == "short story" or item.category == "story" or item.category == "cuento corto" or item.category == "cuento" or item.category == "flash fiction" or item.category == "comic" or item.category == "poem" %}
              <div>
                <!--p class="category">{{ item.category }}</p-->
                <h3><a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>, <br/>{% if item.spanish-language %}un {{ item.category }} por{% else %}a {{ item.category }} by{% endif %} {% assign author = site.contributors | where:'short-name', item.author  | first %}{{ author.credit-name }}{% if item.art %}; {% if item.spanish-language %}ilustrado por {% else %}illustrated by{% endif %} {% assign artist = site.contributors | where:'short-name', item.illustrator  | first %}{{ artist.credit-name }}{% endif %}</h3>
                {{ item.teaser  | markdownify }}
              </div>
            {% endif %}
            {% if item.category == "serial" %}
              <div>
                <small class="category">{{ item.category }}: {{ item.serial-name }}, Chapter {{ item.part }}</small>
                <h1><a href="{{ item.url | relative_url }}">{{ item.title | escape }}</a></h1>
                <h3>by {{ item.author }}</h3>
                <p>{{ item.teaser  | markdownify }}</p>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    {% endfor %}
</div>
