---
layout: default
---

<article>

  <header class="story-header">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    {% include credit-block.html %}
    <p>{% if page.spanish-date %}{{ page.spanish-date }}{% else %}{{ page.date | date: "%B %Y" }}{% endif %}{% if page.artist %} | Illustration by {{ illustrator.credit-name }}</p>{% endif %}
</header>

  <div class="story-controls">
    {% if page.spanish-url %}
      <div class="language-note">
        <a href="{{ page.spanish-url | relative_url }}" class="btn">Lea éste cuento en español</a>
      </div>
    {% endif %}

    {% if page.english-url %}
      <div class="language-note">
        <a href="{{ page.english-url | relative_url }}" class="btn">Read this story in English</a>
      </div>
    {% endif %}

  

  {% if page.contentnote %}
    <div class="contentnote">
      <h4>Content Note:</h4>
      <p>{{ page.contentnote  | markdownify }}</p>
    </div>
  {% endif %}

  {% if page.generalnote %}
    <div class="contentnote">
      <p>{{ page.generalnote  | markdownify }}</p>
    </div>
  {% endif %}

  <div>
    {{ content }}
    <h5>© {{ page.date | date: "%Y" }} {{ author.credit-name }}</h5>
    {% include bios.html %}
  </div>

</article>
