---
layout: default
---

<article>

  <header class="post-header">
    <p class="category">{{ page.date | date: "%b %-d, %Y" }} | {{ page.category }}</p>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.author %}<h2>By <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></h2>{% endif %}
    {% if page.editor %}<p>Edited by {{ page.editor }}</p>{% endif %}
  </header>

{% if page.contentnote %}
  <div class="contentnote authornote">
    <p>{{ page.contentnote | markdownify }}</p>
  </div>
{% endif %}

{% if page.audiourl %}
  <div class="contentnote">
    <p>Listen to this {{ page.category }}, narrated by {{ page.narrator }}:</p>
    <br/>
    <audio controls>
      <source src="{{ page.audiourl }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
  </div>
{% endif %}

  <div>
    {{ content }}
    {% include bios.html %}
  </div>

</article>
