---
layout: default
---
{% if page.art %}
  <figure class="story-illustration">
    <img src="/illustration/{{ page.art }}" alt="{{ page.caption }}">
  </figure>
{% endif %}
<article>

  <header class="post-header">
    <p class="category">{{ page.date | date: "%b %-d, %Y" }} | {{ page.category }}</p>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% include credit-block.html %}
  </header>

  <div class="story-controls">
    {% if page.spanish-url %}
      <div class="language-note">
        <a href="{{ page.spanish-url | relative_url }}" class="btn">Lea éste cuento en español</a>
      </div>
    {% endif %}

    {% if page.english-url %}
      <div class="language-note">
        <a href="{{ page.english-url | relative_url }}" class="btn">Read this story in English</a>
      </div>
    {% endif %}

    {% if page.audiourl %}
      <div class="audiomodule">
        {% if page.spanish-language %}
          <p>Escuche este cuento, narrado por {{ narrator.credit-name }}:</p>
          {% else %}
          <p>Listen to this story, narrated by {{ narrator.credit-name }}:</p>
        {% endif %}
        <audio controls>
          <source src="{{ page.audiourl }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
      </div>
    {% endif %}
  </div>

  {% if page.contentnote %}
    <div class="contentnote">
      <h4>Content Note:</h4>
      <p>{{ page.contentnote  | markdownify }}</p>
    </div>
  {% endif %}

  {% if page.generalnote %}
    <div class="contentnote">
      <p>{{ page.generalnote  | markdownify }}</p>
    </div>
  {% endif %}

  <div class="nonfiction">
    {{ content }}
    <h5>© {{ page.date | date: "%Y" }} <a href="{{ author.url }}">{{ author.credit-name }}</a></h5>

    {% include bios.html %}
  </div>

</article>
