---
layout: default
---

<article class="fiction article-stet">


  <div class="content story-body">
    <div class="story-body-stet">
      <div class="comment-l">
        <div id="three">
          <p class="comment-text">3 — "Including small children."</p>
          <p class="ed">Strike. — Ed.</p>
          <p class="anna">STET — Anna</p>
        </div>

        <div id="eight">
          <p class="comment-text">8 — "See ‘On Machinist Identity Policy Ethics,’ Arnulfsson Foote, 2041. An analysis of how artificial intelligence decides who has an identity and who doesn’t. Who has consciousness and who doesn’t."</p>
          <p class="ed">We should only include peer-reviewed references per new APA guidelines. — Ed.</p>
          <p class="anna">This was peer-reviewed prior to publication. It was peer-reviewed and then published with more than enough time for the producers of the self-driving Toyota Sylph to be aware of its content and conclusions, and for their programmers to adjust the AI’s directives accordingly. Enough time to develop in-code directives to preserve human life. STET — Anna</p>
        </div>

        <div id="eleven">
          <p class="comment-text">11 — "The decision matrix programming is described in _Driven: A Memoir_ (Musk, 2029) as follows: “One human vs five humans, one old human vs one young human, one white human vs one brown human.” Nowhere in the programming is there “One three-year-old girl vs one endangered Carter’s Woodpecker.”"</p>
          <p class="ed">Citation? — Ed.</p>
          <p class="anna">I read the weighted decision matrix they used to seed the Sylph AI. I learned to read it. Do you know how long it took me to learn to read it? Nine and a half months, which is some kind of joke I don’t get. The exact duration of bereavement leave, which is another kind of joke that I don’t think is very funny at all, Nanette in HR. I learned to read the weighted decision matrix and then I filed a Freedom of Information Act request and got my hands on the documentation, and I read it and there’s nothing in there about a kingsnake, or a brown bear, or a bald eagle, or a fucking woodpecker.  STET — Anna</p>
        </div>

        <div id="fourteen">
          <p class="comment-text">14 — "It’s only a distinct species because of the white band on its tail."</p>
          <p class="ed">Is this relevant? — Ed.</p>
          <p class="anna">Yes. Other than that white band, it’s exactly like any other woodpecker, but because of that white fucking band it has four Wildlife Preservations Acts. Four, which is four more than the number of acts dedicated to regulating weighted risk matrices in autonomous vehicles.
          <p class="ed">This passage seems to wander a bit far afield. Perhaps you could tighten it to reflect the brief? — Ed.</p>
          <p class="anna">STET. — Anna</p>
        </div>

      </div>

      <div class="prime-text">
        <header class="story-header">
          <h1 itemprop="name headline"><a href="#one">{{ page.title | escape }}</a></h1>
          {% if page.author %}<h2 class="byline">by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></h2>{% endif %}
          <p>{% if page.selected %}Selected by {{ page.selected }}; {% endif %}Edited by {% if page.editor %}{{ page.editor }}{% else %}Brian J. White</p>{% endif %}
          <p>{{ page.date | date: "%B %Y" }}{% if page.artist %} | Illustration by {{ page.artist }}</p>{% endif %}
        </header>

      {% if page.contentnote %}
        <div class="contentnote">
          <h4>Content Note:</h4>
          <p>{{ page.contentnote  | markdownify }}</p>
        </div>
      {% endif %}
        {{ content }}
        <h5>© {{ page.date | date: "%Y" }} {{ page.author }}</h5>
      </div>

      <div class="comment-r">
        <div id="one">
          <p class="comment-text">"STET"</p>
          <p class="ed">Anna, I’m concerned about subjectivity intruding into some of the analysis in this section of the text. I think the body text is fine, but I have concerns about the references. Are you alright? Maybe it’s a bit premature for you to be back at work. Should we schedule a call soon? — Ed.</p>
          <p class="anna">STET — Anna</p>
        </div>

        <div id="six">
          <p class="comment-text">6 — "See “Local Child Killed by Self-Driving Car,” Tranh O’Connor, _Boston Globe_, May 14 2042 edition."</p>
          <p class="ed">Is this a relevant reference? It seems out of place in this passage. — Ed.</p>
          <p class="anna">STET — Anna</p>
        </div>

        <div id="nine">
          <p class="comment-text">9 — "Over three million incidences, and Ursula wasn’t even one of them yet."</p>
          <p class="ed">Strike. — Ed.</p>
          <p class="anna">Why? Is it hard for you to read her name? STET — Anna</p>
        </div>

        <div id="ten">
          <p class="comment-text">10 — "Read: ‘Murder’. It was murder, the car had a choice, you can’t choose to kill someone and call it manslaughter."</p>
          <p class="ed">Anna. — Ed.</p>
          <p class="anna">STET — Anna</p>
        </div>

        <div id="twelve">
          <p class="comment-text">12 — "Read: ‘how they decide who to murder,’ when the decision to swerve in any direction will cause a death and they decide that one death is better than another."</p>
          <p class="ed">Can we include this as a vocabulary note in the glossary? — Ed.</p>
          <p class="anna">It's relevant specifically to this passage. They decide who gets to live. They decide who gets to wake up tomorrow and put on a new dress and go to her friend’s birthday party. Her best friend, whose mother didn't even attend her funeral.
Don't think I didn't notice.
Even if you don't care, the people learning about programming these things need to understand. That’s what they decide. STET — Anna</p>
        </div>

        <div id="thirteen">
          <p class="comment-text">13 — "You are responsible."</p>
          <p class="ed">Strike — Ed.</p>
          <p class="anna">How long did you stare at a picture of an endangered woodpecker vs how long did you stare at a picture of a little girl who wanted a telescope for her birthday? She was clumsy enough to fall into the street because she was looking up at the sky instead of watching for a car with the ability to decide the value of her life. Was that enough to make you stare at her picture when it was on the news? How long did you look at the woodpecker? Ten seconds? Twelve? How long?  STET — Anna</p>
        </div>

        <div id="fifteen">
          <p class="comment-text">15 — "It never mattered."</p>
          <p class="ed">See my initial note. I want to discuss this more on a phone call with you, or have you come into the office? Just to talk about this last passage, and how you're doing. Or if you don't want to do that, Brian and I would love to have you over for dinner. Nathan misses his playdates with Ursula, but he's also been asking why you don't come over to visit anymore. He misses you. We all miss you.<br/>We haven't seen you in months, Anna. Everyone here cares about you. Please let us help? — Ed.</p>
          <p class="anna">STET. — Anna</p>
        </div>

      </div>

    </div>

    <div class="stet-footer">
      {% include bios.html %}
    </div>

  </div>

</article>
