---
layout: default
---
{% if page.art %}
  <figure class="story-illustration">
    <img src="/illustration/{{ page.art }}" alt="{{ page.caption }}">
  </figure>
{% endif %}
{% include story-logo.html %}
<article class="fiction">
  <header class="story-header">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.author %}<h2 class="byline">by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></h2>{% endif %}
    <p>{{ page.date | date: "%B %Y" }}{% if page.artist %} | Illustration by {{ page.artist }}</p>{% endif %}</p>
  </header>

  <div class="content story-body">
    {{ content }}
  </div>

</article>
