---
layout: default
---
{% if page.art %}
  <figure class="story-illustration">
    <img src="/illustration/{{ page.art }}" alt="{{ page.caption }}">
  </figure>
{% endif %}
{% include story-logo.html %}
<article class="fiction">
  <header class="story-header">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.author %}<h2 class="byline">by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></h2>{% endif %}
    <p>{% if page.selected %}Selected by {{ page.selected }}; {% endif %}Edited by {% if page.editor %}{{ page.editor }}{% else %}Brian J. White</p>{% endif %}
    {% if page.artist %} <h5>Illustration by {{ page.artist }}</h5>{% endif %}
    <div class="serial-pagination">
      <h5><a href="{{ page.previous-url }}">Previous</a></h5><h5><a href="{{ page.serial-url }}">{{ page.serial-name }}</a>{% if page.part %}, Chapter {{ page.part }} {% endif %}<br/> {{ page.date | date: "%B %Y" }}</h5><h5><a href="{{ page.next-url }}">Next</a></h5>
    </div>
  </header>

  <div class="content story-body">
    {{ content }}
    <div class="serial-pagination">
      <h5><a href="{{ page.previous-url }}">Previous</a></h5><h5><a href="{{ page.serial-url }}">{{ page.serial-name }}</a>{% if page.part %}, Part {{ page.part }} {% endif %}<br/> {{ page.date | date: "%B %Y" }}</h5><h5><a href="{{ page.next-url }}">Next</a></h5>
    </div>
    {% if page.author-bio %}
      <h4> About the author</h4>
      {{ page.author-bio | markdownify }}
    {% endif %}
    <h5>© {{ page.date | date: "%Y" }} {{ page.author }}</h5>
  </div>


</article>
