---
layout: default
---
{% if page.art %}
  <figure class="story-illustration">
    <img src="/illustration/{{ page.art }}" alt="{{ page.caption }}">
  </figure>
{% endif %}
<article class="fiction">
  <header class="story-header">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.author %}<h2 class="byline">{% if page.spanish-language %}por{% else %}by{% endif %} <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></h2>{% endif %}
    <p>{% if page.selected %}Selected by {{ page.selected }};<br> {% endif %}{% if page.spanish-language %}Editado por {% else %}Edited by {% endif %}{% if page.editor %}{{ page.editor }}{% else %}Brian J. White</p>{% endif %}
    <p>{% if page.translated %}Translated by {{ page.translator }}{% endif %}</p>
    <p>{% if page.spanish-date %}{{ page.spanish-date }}{% else %}{{ page.date | date: "%B %Y" }}{% endif %}{% if page.artist %} | Illustration by {{ page.artist }}</p>{% endif %}
</header>

<div class="story-controls">
  {% if page.spanish-url %}
    <div class="language-note">
      <a href="{{ page.spanish-url | relative_url }}" class="btn">Lea éste cuento en español</a>
    </div>
  {% endif %}

  {% if page.english-url %}
    <div class="language-note">
      <a href="{{ page.english-url | relative_url }}" class="btn">Read this story in English</a>
    </div>
  {% endif %}

  {% if page.audiourl %}
    <div class="audiomodule">
      {% if page.spanish-language %}
        <p>Escuche este cuento, narrado por {{ page.narrator }}:</p>
        {% else %}
        <p>Listen to this story, narrated by {{ page.narrator }}:</p>
      {% endif %}
      <audio controls>
        <source src="{{ page.audiourl }}" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>
    </div>
  {% endif %}
</div>

{% if page.contentnote %}
  <div class="contentnote">
    <h4>Content Note:</h4>
    <p>{{ page.contentnote  | markdownify }}</p>
  </div>
{% endif %}

{% if page.generalnote %}
  <div class="contentnote">
    <p>{{ page.generalnote  | markdownify }}</p>
  </div>
{% endif %}

  <div class="content story-body">
    {{ content }}
    <h5>© {{ page.date | date: "%Y" }} {{ page.author }}</h5>
    {% include bios.html %}
  </div>

</article>
