---
layout: default
---
{% if page.art %}
  <figure class="story-illustration">
    <img src="{{ site.baseurl }}/illustration/{{ page.art }}" alt="{{ page.caption }}">
  </figure>
{% endif %}
{% include story-logo.html %}
<article>
  <header class="story-header">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.author %}<p class="byline">by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></p>{% endif %}
    <p>{{ page.date | date: "%b %Y" }}{% if page.artist %} | Illustration by {{ page.artist }}</p>{% endif %}</p>
  </header>

  <div>
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
