<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="thunderstorm">
    <main aria-label="Content">
      <div class="home"><a href="/"></a></div>
      <div class="header">
        <figure>
          <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/header.jpg" alt="a streetscape in Beirut, Lebanon">
        </figure>
        <h1>Thunderstorm in Glasgow, </br>July 25, 2013</h1>
      </div>
      <div class="grid-1">
        <div class="bylines">
          <p>by {{ page.author }}</br>
            illustrations by {{ page.artist }}</p>
        </div>
        <div class="drops">
          <figure>
            <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/drops.jpg" alt="splattered drops of blue ink">
          </figure>
        </div>
        <div class="stanza stanza-1">
          <p id="#">Rattle my heart, four-chambered sound</p>
          <p id="#">loosen my language from my teeth</p>
          <p id="#">tumble raaed out from a fallow throat</p>
          <p id="#">and a forgotten year</p>
        </div>
        <div class="heart">
          <figure>
            <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/stanza-1.jpg" alt="a heart">
          </figure>
        </div>
      </div>
      <div class="stanza stanza-2">
        <p id="#">when hunched in the barracks against the rain</p>
        <p id="#">that gushed from gutters, corrugated roofs</p>
        <p id="#">one sister clutched her mother’s hand</p>
        <p id="#">and one strained, strained against her grip</p>
        <p id="#">wanting the wet, the loud, the dark, the bright,</p>
        <p id="#">to shake hands with that searing flash</p>
        <p id="#">and make it her friend.</p>
      </div>
      <div class="rain">
        <figure>
          <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/stanza-2.jpg" alt="a heart">
        </figure>
      </div>
      <div class="grid-2">
        <div class="stanza stanza-3">
          <p id="#">Say aasfi, say ghaymi,</p>
          <p id="#">unbury the words with this digging rain,</p>
          <p id="#">remember how gardens seemed to sprout from stone</p>
          <p id="#">as water struck it, drops unnumbered</p>
          <p id="#">fountaining upwards as if to try</p>
          <p id="#">for a place in the sky again.</p>
        </div>
        <div class="stone">
          <figure>
            <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/stanza-3.jpg" alt="a heart">
          </figure>
        </div>
        <div class="stanza stanza-4">
          <p id="#">Say aaskar, say hammam,</p>
          <p id="#">recall wondering why soldiers</p>
          <p id="#">needed such a big bathroom anyway—</p>
          <p id="#">while the storm sluiced over eaves and doors</p>
          <p id="#">and stirred into the sea—</p>
        </div>
      </div>
      <div class="fence">
        <figure>
          <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/stanza-4.jpg" alt="a heart">
        </figure>
      </div>
      <div class="stanza stanza-5">
        <p id="#">gather the words like clouds to burst,</p>
        <p id="#">but remember too, the vicious truth:</p>
        <p id="#">when the sky lashed hard and cracked the air,</p>
        <p id="#">when you hipped your fists and stared it down,</p>
        <p id="#">shouting patience, shouting peace</p>
        <p id="#">as only a child can—</p>
        <p id="#">you left raaed, ghaymi, aasfi, hammam,</p>
        <p id="#">aaskar in your mother’s hand,</p>
        <p id="#">spoke English to the rain.</p>
      </div>
      <div class="hands">
        <figure>
          <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/stanza-5.jpg" alt="a heart">
        </figure>
      </div>


    </main>

    <footer class="credits">
        <p>Amal El-Mohtar has won the Hugo, Locus, and Nebula awards for her short fiction, and her poetry has received the Rhysling award three times. She lives in Ottawa with her husband and two jellicle cats.</p>
        <p>Molly Crabapple is an artist and writer living in New York.  Her work has been described as “God’s own circus posters,” by Rolling Stone, but beneath the lavishly detailed surface, it engages injustice and rebellion.</p>
        <a href="/">{% include fireside-badge.html %}</a>
    </footer>

  </body>

  {% include google-analytics.html %}

</html>
