<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
<script src="/assets/js/flexibility.js"></script>
  <body class="thunderstorm tk-bagatela">
    <div class="home"><a href="/"></a></div>
    <main aria-label="Content">
      <div class="header">
        <figure>
          <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/header.png" alt="a streetscape in Beirut, Lebanon">
        </figure>
        <h1 class="tk-herencia">Thunderstorm in Glasgow, </br>July 25, 2013</h1>
      </div>
      <div class="grid-1">


        <div class="bylines">
          <p>by {{ page.author }}</br>
            illustrations by {{ page.artist }}</p>
        </div>


        <div class="drops">
          <figure>
            <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/drops.png" alt="splattered drops of blue ink">
          </figure>
        </div>


        <div id="stanza-1" class="stanza">
          <p id="stz-1-1">Rattle my heart, four-chambered sound</p>
          <p id="stz-1-2">loosen my language from my teeth</p>
          <p id="stz-1-3">tumble <span class="arabic-text raaed">raaed</span> out from a fallow throat</p>
          <p id="stz-1-4">and a forgotten year</p>
        </div>


        <div class="heart">
          <figure>
            <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/stanza-1.png" alt="a heart">
          </figure>
        </div>
      </div>
      <div id="stanza-2" class="stanza">
        <p id="stz-2-1">when hunched in barracks beneath the rain</p>
        <p id="stz-2-2">that gushed from gutters, corrugated roofs</p>
        <p id="stz-2-3">one sister clutched her mother’s hand</p>
        <p id="stz-2-4">and one strained, strained against her grip</p>
        <p id="stz-2-5">wanting the wet, the loud, the dark, the bright,</p>
        <p id="stz-2-6">to shake hands with that searing flash</p>
        <p id="stz-2-7">and make it her friend.</p>
      </div>
      <div class="rain">
        <figure>
          <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/stanza-2.png" alt="a heart">
        </figure>
      </div>
      <div class="grid-2">
        <div id="stanza-3" class="stanza">
          <p id="stz-3-1">Say <span class="arabic-text aasfi">aasfi,</span> say <span class="arabic-text ghaymi">ghaymi,</span></p>
          <p id="stz-3-2">unbury the words with this digging rain,</p>
          <p id="stz-3-3">remember how gardens seemed to sprout from stone</p>
          <p id="stz-3-4">as water struck it, drops unnumbered</p>
          <p id="stz-3-5">fountaining upwards as if to try</p>
          <p id="stz-3-6">for a place in the sky again.</p>
        </div>
        <div class="stone">
          <figure>
            <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/stanza-3.png" alt="a heart">
          </figure>
        </div>
        <div id="stanza-4" class="stanza">
          <p id="stz-4-1">Say <span class="arabic-text aaskar">aaskar,</span> say <span class="arabic-text hammam">hammam,</span></p>
          <p id="stz-4-2">recall wondering why soldiers</p>
          <p id="stz-4-3">needed such a big bathroom anyway—</p>
          <p id="stz-4-4">while the storm sluiced over eaves and doors</p>
          <p id="stz-4-5">and stirred into the sea—</p>
        </div>
      </div>
      <div class="fence">
        <figure>
          <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/stanza-4.png" alt="a heart">
        </figure>
      </div>
      <div id="stanza-5" class="stanza">
        <p id="stz-5-1">gather the words like clouds to burst,</p>
        <p id="stz-5-2">but remember too, the vicious truth:</p>
        <p id="stz-5-3">when the sky lashed hard and cracked the air,</p>
        <p id="stz-5-4">when you hipped your fists and stared it down,</p>
        <p id="stz-5-5">shouting patience, shouting peace</p>
        <p id="stz-5-6">as only a child can—</p>
        <p id="stz-5-7">you left <span class="arabic-text raaed">raaed,</span> <span class="arabic-text ghaymi">ghaymi,</span> <span class="arabic-text aasfi">aasfi,</span> <span class="arabic-text hammam">hammam,</span></p>
        <p id="stz-5-8"><span class="arabic-text aaskar">aaskar</span> in your mother’s hand,</p>
        <p id="stz-5-9">spoke English to the rain.</p>
      </div>
      <div class="hands">
        <figure>
          <img src="/illustration/thunderstorm-in-glasgow-july-25-2013/stanza-5.png" alt="a heart">
        </figure>
      </div>


    </main>

    <footer class="credits">
        <p><strong><a href="https://amalelmohtar.com">Amal El-Mohtar</a></strong> has won the Hugo, Locus, and Nebula awards for her short fiction, and her poetry has received the Rhysling award three times. She lives in Ottawa with her husband and two jellicle cats.</p>
        <p><strong><a href="https://mollycrabapple.com">Molly Crabapple</a></strong> is an artist and writer living in New York.  Her work has been described as “God’s own circus posters,” by <em>Rolling Stone</em>, but beneath the lavishly detailed surface, it engages injustice and rebellion.</p>
        <a href="/">{% include fireside-badge.html %}</a>
        <p class="call-to-action">Buy <a href="https://store.firesidefiction.com/products/thunderstorm-in-glasgow-july-25-2013-poster">the printed poster version of this broadside</a> on the Fireside Shop.</p>
    </footer>

  </body>

  {% include google-analytics.html %}

</html>
